.mekan-label {
    font-weight: bold;  /* Kalın yazı */
    color: #007bff;     /* Mavi renk */
}

.gunumuzdeki-label {
    font-weight: bold;  /* Kalın yazı */
    color: #28a745;     /* Yeşil renk */
}
