<div style="display: flex;flex-direction:column;margin-top: 2%;margin-right: 50%">
    <div style="display: flex;justify-content: space-around;">


        <mat-form-field style="width: 50%;">
            <mat-label>Seyyahlar </mat-label>
            <mat-select [(ngModel)]="editItem.Yazar">
                <mat-option *ngFor="let item of seyyahlar" [value]="item.name">{{item.name}} </mat-option>

            </mat-select>
        </mat-form-field>
        <mat-form-field style="width: 50%;">
            <mat-label>Kodu </mat-label>
            <input required matInput placeholder="Kodu" [(ngModel)]="editItem.SeyahatnameKodu" />
        </mat-form-field>

        <mat-form-field style="width: 20%;">
            <mat-label>Yüzyıl</mat-label>
            <mat-select [(ngModel)]="editItem.yuzyil">
                <mat-option value="11.yy">11.yy</mat-option>
                <mat-option value="12.yy">12.yy</mat-option>
                <mat-option value="13.yy">13.yy</mat-option>
                <mat-option value="14.yy">14.yy</mat-option>
                <mat-option value="15.yy">15.yy</mat-option>
                <mat-option value="16.yy">16.yy</mat-option>
                <mat-option value="17.yy">17.yy</mat-option>
                <mat-option value="18.yy">18.yy</mat-option>
                <mat-option value="19.yy">19.yy</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div style="display: flex;justify-content: space-around;width: 40%;padding-left: 3%;">
        <button mat-button style="background-color: rgb(124, 45, 74);" color="coral" routerLink="../../seyahatname"
            (click)="submitForm('update')">
            Kaydet<mat-icon>add</mat-icon>
        </button>

        <button mat-button style="background-color: rgb(124, 45, 74);" color="coral" routerLink="../../seyahatname"
            (click)="submitForm('delete')">
            Sil<mat-icon>delete</mat-icon>
        </button>
        <button mat-button style="background-color: rgb(124, 45, 74);" color="coral" routerLink="../../seyahatname">
            İptal<mat-icon>cancel</mat-icon>
        </button>

    </div>
</div>