<div style="display: flex;flex-direction:column;margin-top: 2%;margin-right: 40%">
    <div style="display: flex;justify-content: space-around;">


        <mat-form-field style="width: 40%;" >
            <mat-label>Seyyahlar </mat-label>
            <mat-select [(ngModel)]="editItem.Yazar">
                <mat-option *ngFor="let item of seyyahlar" [value]="item.name">{{item.name}} </mat-option>

            </mat-select>
        </mat-form-field>
        <mat-form-field style="width:40%;"class="mx-2">
            <mat-label>Kodu </mat-label>
            <input required matInput placeholder="Kodu" [(ngModel)]="editItem.SeyahatnameKodu" />
        </mat-form-field>

        <mat-form-field style="width: 30%;">
            <mat-label>Yüzyıl</mat-label>
            <mat-select [(ngModel)]="editItem.yuzyil">
                <mat-option value="11. yüzyıl">11. yüzyıl</mat-option>
                <mat-option value="12. yüzyıl">12. yüzyıl</mat-option>
                <mat-option value="13. yüzyıl">13. yüzyıl</mat-option>
                <mat-option value="14. yüzyıl">14. yüzyıl</mat-option>
                <mat-option value="15. yüzyıl">15. yüzyıl</mat-option>
                <mat-option value="16. yüzyıl">16. yüzyıl</mat-option>
                <mat-option value="17. yüzyıl">17. yüzyıl</mat-option>
                <mat-option value="18. yüzyıl">18. yüzyıl</mat-option>
                <mat-option value="19. yüzyıl">19. yüzyıl</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div style="display: flex;justify-content: space-around;width: 40%;padding-left: 3%;">
        <button mat-button style="background-color: rgb(124, 45, 74);" color="coral" routerLink="../../seyahatname"
            (click)="submitForm('update')">
            Kaydet<mat-icon>add</mat-icon>
        </button>

        <button mat-button style="background-color: rgb(124, 45, 74);" color="coral" routerLink="../../seyahatname"
            (click)="submitForm('delete')">
            Sil<mat-icon>delete</mat-icon>
        </button>
        <button mat-button style="background-color: rgb(124, 45, 74);" color="coral" routerLink="../../seyahatname">
            İptal<mat-icon>cancel</mat-icon>
        </button>

    </div>
</div>