<div class="container">
    <ngx-file-drop dropZoneLabel="Drop files here" [multiple]="true" (onFileDrop)="dropped($event)"
        (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
            Optional custom content that replaces the the entire default content.
            <button class="mx-3" type="button" (click)="openFileSelector()">Browse Files</button>
        </ng-template>
    </ngx-file-drop>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody class="upload-name-style">
                <tr *ngFor="let item of files; let i=index">
                    <td><strong>{{ item.relativePath }}</strong></td>
                </tr>
            </tbody>
        </table>

    </div>



</div>
<div class="container">
    <div class="row">

        <div class="col-xl-8">
            <ng-select [multiple]="false" [(ngModel)]="editItem.lokasyonId"
                [placeholder]="'Seçilecek lokasyonları belirtin...'" class="custom-ng-select">
                <ng-option *ngFor="let lokasyon of dataSource" [value]="lokasyon.Id">
                    {{ lokasyon.Id }} -
                    <span class="mekan-label">Mekan Adı:</span> {{ lokasyon.mekan_adi }}
                    <span class="gunumuzdeki-label">Günümüzdeki Adı:</span> {{ lokasyon.Mekanin_Gunumuzdeki_Adi }}
                </ng-option>
            </ng-select>
        </div>

        <div class="col-xl-4">
            <button mat-flat-button style="background-color: rgb(124, 45, 74); margin-left: 10px" color="coral"
                (click)="save()">
                Kaydet<mat-icon>save</mat-icon>
            </button>
        </div>

        <div class="col-12">
            <mat-form-field>
                <mat-label>Fotoğraf Metni</mat-label>
                <textarea matInput [(ngModel)]="editItem.metin"></textarea>

            </mat-form-field>
        </div>
    </div>
</div>