<div class="center">
    <ngx-file-drop dropZoneLabel="Drop files here" [multiple]="true" (onFileDrop)="dropped($event)"
        (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
            Optional custom content that replaces the the entire default content.
            <button  class="mx-3" type="button" (click)="openFileSelector()">Browse Files</button>
        </ng-template>
    </ngx-file-drop>
    <div class="upload-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody class="upload-name-style">
                <tr *ngFor="let item of files; let i=index">
                    <td><strong>{{ item.relativePath }}</strong></td>
                </tr>
            </tbody>
        </table>

    </div>



</div>
<div style="display: flex;flex-direction: row;justify-content: flex-start;justify-content: space-between;width: 80%;">

    <mat-form-field style="width: 50%;">
        <mat-label>Fotoğraf Metni</mat-label>
        <!-- <input required matInput placeholder="Galeri ismi" [(ngModel)]="editItem.metin" /> -->
        <textarea matInput  [(ngModel)]="editItem.metin"></textarea>

    </mat-form-field>

      


    <button mat-button style="background-color: rgb(124, 45, 74); margin-left: 10px" color="coral" (click)="save()">
        Kaydet<mat-icon>save</mat-icon>
    </button>

</div>
<div style="width: 60%;">
    <ng-select [multiple]="false" [(ngModel)]="editItem.lokasyonId"
      [placeholder]="'Seçilecek lokasyonları belirtin...'" class="custom-ng-select">
      <ng-option *ngFor="let lokasyon of dataSource" [value]="lokasyon.Id">
        {{ lokasyon.Id }} -  
        <span class="mekan-label">Mekan Adı:</span> {{ lokasyon.mekan_adi }}   
        <span class="gunumuzdeki-label">Günümüzdeki Adı:</span> {{ lokasyon.Mekanin_Gunumuzdeki_Adi }}
      </ng-option>
    </ng-select>
  </div>
  