<section class="content-holder">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <h1 class="page-title">Detaylı Arama</h1>
            </div>
        </div>

        <div class="row justify-content-center">

            <div class="col-12 col-lg-5 mb-5">
                <div class="form-group">
                    <input [(ngModel)]="filtertext_1" autocomplete="off" type="text" class="form-control" id="metin1"
                        aria-describedby="kutuphaneSearch" placeholder="Aranacak metni giriniz" value="Arama metni">

                </div>

            </div>
            <div class="col-6 col-lg-2 mb-5">
                <div class="form-group">
                    <ng-select [(ngModel)]="state">
                        <ng-option value="ve">ve</ng-option>
                        <ng-option value="veya">veya</ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-12 col-lg-5 mb-5">
                <div class="form-group">
                    <input [(ngModel)]="filtertext_2" autocomplete="off" type="text" class="form-control" id="metin2"
                        aria-describedby="kutuphaneSearch" placeholder="Aranacak metni giriniz" value="Arama metni">
                </div>

            </div>

            <div class="col-12 col-lg-6 col-xl-3 mb-5">


                <ng-select [(ngModel)]="selectedSeyyah" [placeholder]="'Seçilecek Seyyahı belirtin...'">
                    >
                    @for (seyyah of seyyahlar; track seyyah.Id) {
                    <ng-option [value]="seyyah.name">{{seyyah.name}}</ng-option>
                    }
                </ng-select>



            </div>
            <div class="col-12 col-lg-6 col-xl-3 mb-5">


                <ng-select [multiple]="true" [(ngModel)]="selectedLokasyon"
                    [placeholder]="'Seçilecek lokasyonları belirtin...'">
                    <ng-option *ngFor="let lokasyon of lokasyonlar" [value]="lokasyon.Id">
                        {{ lokasyon.Id }} - {{ lokasyon.Mekanin_Gunumuzdeki_Adi }}
                    </ng-option>
                </ng-select>





            </div>
            <div class="col-12 col-lg-6 col-xl-3 mb-5">

                <ng-select [multiple]="true" [(ngModel)]="selectedyapi" [placeholder]="' Yapı Türünü belirtin...'">>

                    <ng-option *ngFor="let mekan of mekanTipleri" [value]="mekan">{{mekan}}</ng-option>
                </ng-select>




            </div>
            <div class="col-12 col-lg-6 col-xl-3 mb-5">

                <ng-select [multiple]="true" [(ngModel)]="selectedyuzyil"
                    [placeholder]="'Seçilecek Yüzyılları belirtin...'">
                    >
                    <ng-option selected value="11. yüzyıl">11. yüzyıl</ng-option>
                    <ng-option value="12. yüzyıl">12. yüzyıl</ng-option>
                    <ng-option value="13. yüzyıl">13. yüzyıl</ng-option>
                    <ng-option value="14. yüzyıl">14. yüzyıl</ng-option>
                    <ng-option value="15. yüzyıl">15. yüzyıl</ng-option>
                    <ng-option value="16. yüzyıl">16. yüzyıl</ng-option>
                    <ng-option value="17. yüzyıl">17. yüzyıl</ng-option>
                    <ng-option value="18. yüzyıl">18. yüzyıl</ng-option>
                    <ng-option value="19. yüzyıl">19. yüzyıl</ng-option>
                </ng-select>





            </div>
            <div class="container text-center">
                <div class="row justify-content-center">

                    <div class="col-xl-6">
                        <p class="text-center mb-5"><a class="btn sy-btn btn-olive" (click)="filter()">DETAYLI ARA <i
                                    class="bi bi-search"></i></a></p>
                    </div>
                    <div class="col-xl-6">
                        <p class="text-center mb-5"><a class="btn sy-btn btn-olive" (click)="clear()">ARAMAYI TEMİZLE <i
                                    class="bi bi-x"></i></a></p>
                    </div>

                </div>
            </div>



        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-xl-10">
                <p>Arama tercihleriniz için arama sonuçlarını görüntülüyorsunuz. <i>({{yapisize+seyyahsize}} sonuç)</i>
                </p>
            </div>
            <div class="col-12 col-xl-10">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseOne"> Seyahat Yapıları <span
                                    class="number">({{yapisize}})</span></button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                            aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                                <ul>
                                    @for (item of filteredYapi; track $index) {
                                    <li><a [href]="'../home/monografi/'+item.yapi_ismi">{{item.baslik}}</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 col-xl-6">

                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseTwo"> Seyyahlar ve Seyahatnameleri <span
                                    class="number">({{seyyahsize}})</span></button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body">
                                <ul>
                                    @for (item of filteredMakale; track $index) {
                                    <li><a [href]="'../home/makale/'+item.kodu">{{item.seyahatnameadi}}</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>