<section class="content-holder">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="page-title">İletişim</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-xl-10" style="margin-bottom: 100px;">
                <p class="mb-5">Proje ile ilgili dilek, istek, öneri, şikayet ve katkı sunmak için bizimle iletişime
                    geçin. Aşağıda yer alan adres, telefon ve e-mail adresi ile iletişime geçebileceğiniz gibi iletişim
                    formunu kullanarak da bize ulaşabilirsiniz.</p>
                <p class="mb-3"><i class="bi bi-geo-alt-fill olive"></i> İstanbul Teknik Üniversitesi Taşkışla Kampüsü
                    Ofis No: 101-102-136 İSTANBUL</p>
                <p class="mb-3"><i class="bi bi-telephone-fill olive"></i> +90 212 345 67 89</p>
                <p class="mb-3"><i class="bi bi-envelope-fill olive"></i> seyyahproje&#64;itu.edu.tr</p>
            </div>
            <div class="col-12 col-xl-10">
                <h3 class="taba-h3 mb-5">İletişim Formu</h3>
            </div>
            <div class="col-12 col-xl-10">
                <div class="row justify-content-start">
                    <div class="col-12 col-xl-6">
                        <form  action="/home"  class="search-form">
                            <div class="form-group mb-5">
                                <input type="text" class="form-control" id="iletisim-name"
                                    aria-describedby="kutuphaneSearch" placeholder="Adınız Soyadınız">
                            </div>
                            <div class="form-group mb-5">
                                <input type="email" class="form-control" id="iletisim-email"
                                    aria-describedby="kutuphaneSearch" placeholder="Email adresiniz">
                            </div>
                            <div class="form-group mb-5">
                                <textarea id="mesaj" name="mesaj" rows="10" placeholder="Mesajınız"></textarea>
                            </div>
                            <p class="text-end"><button type="submit" class="btn sy-btn btn-olive" href="/home">GÖNDER <i
                                        class="bi bi-envelope-fill"></i></button></p>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>