<section class="content-holder">
	<div class="container">
	<div class="row">
		<div class="col-12">
		<h1 class="page-title">Proje Hakkında</h1>
		</div>
		</div>
		<div class="row justify-content-center">
		<div class="col-12">
			<p class="text-center">
			<img src="../../../assets/img/gorsel.png" class="img-fluid" alt="">
			</p>
			<p class="img-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			
			<p [innerHTML]="hakkindaText"></p>
		</div>
		
			
		</div>
		
	</div>
	</section>