
  .match-parent {
    // position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh; /* Ekranın tamamı */
  
  }
  .custom-dialog-info{
    border-radius: 5px;
  }
  .gallery-item img {
    height: 200px;
    object-fit: cover;
    width: 100%; /* Görselin genişliği, bulunduğu container'a sığacak şekilde ayarlanır */
  }
  .middle-modal {
    background-color: white;
    width: 70%;
    max-height: 70%;
    z-index: 2;
    border-radius: 15px;
    margin-left: 15%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
  }
  
  .modal-close-button {
  
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    top: 15px;
    right: -40px;
  }
  
  .modal-close-button a {
  
    width: 40px;
    height: 40px;
    padding: 8px;
    display: block;
    font-weight: bold;
    color: #fff;
    border-radius: 0 15px 15px 0;
    background-color: #a7703c;
    transition: all .3s;
    cursor: pointer;
  
  
  }
  
  .modal-close-button a:hover {
  
    color: #fff;
    background-color: #995a1f;
  
  
  
  }
  
  .middle-modal-body {
    padding: 30px;
    overflow-y: scroll;
    scrollbar-width: none;
  
  }
  
  .middle-modal-title {
    padding: 30px;
    background-color: #6f9689;
    border-radius: 15px 15px 0 0;
    color: white;
    font-family: 'Montserrat';
    font-size: 1.6rem;
    font-weight: 700;
  }
  
  .modal_title {
    background-color: #6f9689;
    color: white;
    font-family: 'Montserrat';
    font-weight: 700;
  }
  
  .custom-dialog-container .mat-dialog-container {
    /* add your styles */
    border-radius: 15px !important;
    align-items: center;
  
  }
  
  .mat-mdc-dialog-actions {
  
    justify-content: flex-end;
    // position: absolute;
    top: 0;
    bottom: 0;
  }
  
  
  .mapboxgl-canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  #fit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 25%;
    max-height: 200px;
    font-size: 30px;
    color: #fff;
    z-index: 0;
  }
  
  #fit_3 {
    display: inline-flex;
    flex-direction: row;
    position: relative;
    width: 50%;
    font-size: 30px;
    max-height: 650px;
    color: #fff;
    z-index: 0;
    box-sizing: content-box;
  }
  
  .gallery{
    display: flex;
    flex-direction: row;
  }
  
  #fit_2 {
    margin-top: 20px;
    min-height: 20px;
    font-size: 30px;
    color: #fff;
    z-index: 0;
    max-height: 150px;
    /* Örnek olarak, maksimum yükseklik 400 piksel olarak ayarlanmıştır, ihtiyaca göre değiştirilebilir */
    overflow-y: scroll;
    scrollbar-width: none;
    /* Firefox */
  }
  
  
  .mapboxgl-popup-content {
    background: #9f3333 !important;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    padding: 10px 10px 15px;
    pointer-events: auto;
    position: relative;
  }
  
  .mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
  }
  
  .example-viewport {
    height: 200px;
    width: 200px;
    border: 1px solid black;
  }
  
  .example-item {
    height: 50px;
  }
  .example-full-width {
    width: 100%;
  }
  @import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lightgallery.css');
  @import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-zoom.css');
  
  body {
    margin: 0;
  }
  
  .gallery-item {
    margin: 5px;
  }
