<div class="container mt-2">

    <div class="row">

      
            <mat-form-field class="col-xl-6">
                <mat-label>Enlem</mat-label>
                <input required matInput placeholder="Enlem" [(ngModel)]="editItem.Enlem" />
            </mat-form-field>

            <mat-form-field class="col-xl-6">
                <mat-label>Boylam </mat-label>
                <input [(ngModel)]="editItem.Boylam" matInput placeholder="Boylam" class="form-control">

                <!-- <input required matInput placeholder="Boylam" [(ngModel)]="editItem.Boylam" /> -->
            </mat-form-field>
            <mat-form-field class="col-xl-6">
                <mat-label>Günümüzdeki Adı</mat-label>
                <input required matInput placeholder="Günümüzdeki Adı" [(ngModel)]="editItem.Mekanin_Gunumuzdeki_Adi" />
            </mat-form-field>
            <mat-form-field class="col-xl-6">
                <mat-label>Tespit Edilen Konum Ölçeği</mat-label>
                <mat-select [(ngModel)]="editItem.Olcek">
                    <mat-option value="YAKLAŞIK KONUM">YAKLAŞIK KONUM</mat-option>
                    <mat-option value="YERLEŞİM YERİ">YERLEŞİM YERİ</mat-option>
                    <mat-option value="YAPI">YAPI</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col-xl-6">
                <mat-label>Anlatıda Geçen Mekan Adı</mat-label>
                <input required matInput placeholder="Anlatıda Geçen Mekan Adı" [(ngModel)]="editItem.mekan_adi" />
            </mat-form-field>
            <mat-form-field class="col-xl-6">
                <mat-label>Envanter Kodu </mat-label>
                <input required matInput placeholder="Envanter Kodu" [(ngModel)]="editItem.Envanter_Kodu" />
            </mat-form-field>
            <mat-form-field class="col-xl-6">
                <mat-label>Lokasyon Adı </mat-label>
                <input required matInput placeholder="Envanter Kodu" [(ngModel)]="editItem.Lokasyon_Adi" />
            </mat-form-field>
        </div>


    </div>

    <div class="container ">

        <div class="row ">
            <button mat-flat-button class="col-xl-2 m-2" routerLink="../../lokasyon">
                İptal<mat-icon>cancel</mat-icon>
            </button>
            <button mat-flat-button class="col-xl-2 m-2" (click)="submitForm('delete')">
                Sil<mat-icon>delete</mat-icon>
            </button>
            <button mat-flat-button class="col-xl-2 m-2" (click)="submitForm('update')">
                Kaydet<mat-icon>add</mat-icon>
            </button>
        </div>
    </div>