<section class="content-holder">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="page-title">About the Project</h1>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-12">
				<p class="text-center">
					<img src="../../../assets/img/gorsel.png" class="img-fluid" alt="">
				</p>
				<p class="img-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

				<p>This project is carried out within the scope of the TÜBİTAK 1001 program with the title of “Inns and
					Caravanserais as Accommodation Spaces on Travel Routes: Spatial-Time Analysis of Pre-Modern Travel
					and Accommodation Experience in Anatolia”. The project aims to investigate the travel and
					accommodation experiences in pre-modern Anatolia and the spatial and temporal dimensions of these
					experiences. Throughout the project process, historical data, travel books, archive documents,
					literature reviews and field studies were evaluated together. This comprehensive approach enables a
					deeper understanding of the social, economic and spatial aspects of travel and accommodation
					structures. The project was carried out by an academic team and completed in a 30-month period. The
					information obtained during the research process, through the digital databases and geographical
					maps created, also opened up discussions on the meaning and potential use of inns and caravanserais
					today. As a result, the project aims to contribute to the scientific literature and open new doors
					for researchers interested in historical structures and accommodation cultures.</p>
			</div>


		</div>

	</div>
</section>