<div class="container m-2">
  <div class="row">

    <mat-form-field class="col-xl-6">
      <mat-label>Envanter Kodu </mat-label>
      <input required matInput placeholder="Seyahname Kodu " [(ngModel)]="editItem.Envanter_Kodu" />
    </mat-form-field>
    <mat-form-field class="col-xl-6">
      <mat-label>Yapı İsmi </mat-label>
      <input required matInput placeholder="Seyahname Kodu " [(ngModel)]="editItem.Yapi_Adi" />
    </mat-form-field>


    <mat-form-field class="col-xl-6">
      <mat-label>Güzergah </mat-label>
      <input required matInput placeholder="Yazar" [(ngModel)]="editItem.Guzergah" />
    </mat-form-field>
    <mat-form-field class="col-xl-6">
      <mat-label>Alternatif Adı </mat-label>
      <input required matInput placeholder="Seyahatname Adı" [(ngModel)]="editItem.Alternatif_Adi" />
    </mat-form-field>


    <mat-form-field class="col-xl-6">
      <mat-label>Dönemi </mat-label>
      <input required matInput placeholder="Bölüm/Chapter/Mektup Numarası" [(ngModel)]="editItem.Donemi" />
    </mat-form-field>
    <mat-form-field class="col-xl-6">
      <mat-label>Kitabesi </mat-label>
      <input required matInput placeholder="Kitabesi" [(ngModel)]="editItem.Kitabesi" />
    </mat-form-field>


    <mat-form-field class="col-xl-6">
      <mat-label>Banisi </mat-label>
      <input required matInput placeholder="Banisi" [(ngModel)]="editItem.Banisi" />
    </mat-form-field>
    <mat-form-field class="col-xl-6">
      <mat-label>Seyahatnamelerdeki Anlatimi </mat-label>
      <input required matInput placeholder="Seyahatnamelerdeki_Anlatimi"
        [(ngModel)]="editItem.Seyahatnamelerdeki_Anlatimi" />
    </mat-form-field>


    <mat-form-field class="col-xl-6">
      <mat-label>Durumu </mat-label>
      <input required matInput placeholder="Durumu" [(ngModel)]="editItem.Durumu" />
    </mat-form-field>
    <mat-form-field class="col-xl-6">
      <mat-label>Enlem</mat-label>
      <input required matInput placeholder="Enlem" [(ngModel)]="editItem.enlem" />
    </mat-form-field>


    <mat-form-field class="col-xl-6">
      <mat-label>Boylam </mat-label>
      <input required matInput placeholder="Boylam " [(ngModel)]="editItem.boylam" />
    </mat-form-field>
    <mat-form-field class="col-xl-6">
      <mat-label>Bugunki Kullanimi </mat-label>
      <input required matInput placeholder="Bugunki_Kullanimi " [(ngModel)]="editItem.Bugunki_Kullanimi" />
    </mat-form-field>



    <mat-form-field class="col-xl-6">
      <mat-label>Yasama Ve Eski Kullanima Dair Izler </mat-label>
      <input required matInput placeholder="Yasama_Ve_Eski_Kullanima_Dair_Izler"
        [(ngModel)]="editItem.Yasama_Ve_Eski_Kullanima_Dair_Izler" />
    </mat-form-field>
    <mat-form-field class="col-xl-6">
      <mat-label>Yapi Monografisi </mat-label>
      <input required matInput placeholder="yapi_monografisi_var_yok" [(ngModel)]="editItem.yapi_monografisi_var_yok" />
    </mat-form-field>


    <mat-form-field class="col-xl-6">
      <mat-label>Literatur_Ve_Arsiv_Kaynaklarindan_Notlar </mat-label>
      <input required matInput placeholder="Literatur_Ve_Arsiv_Kaynaklarindan_Notlar"
        [(ngModel)]="editItem.Literatur_Ve_Arsiv_Kaynaklarindan_Notlar" />
    </mat-form-field>


    <mat-form-field class="col-xl-6">
      <mat-label>Arazi Calismasi Tarihi </mat-label>
      <input required matInput placeholder="Arazi_Calismasi_Tarihi" [(ngModel)]="editItem.Arazi_Calismasi_Tarihi" />
    </mat-form-field>




    <mat-form-field class="col-xl-6">
      <mat-label>Mimari Ozellikler </mat-label>
      <input required matInput placeholder="Mimari_Ozellikler " [(ngModel)]="editItem.Mimari_Ozellikler" />
    </mat-form-field>


  </div>
</div>
<div class="container">

  <div class="row">
    <button mat-flat-button class="col-xl-2 m-2" color="coral" (click)="submitForm('update')">
      Kaydet<mat-icon>add</mat-icon>
    </button>
    <button [hidden]="gizle" mat-flat-button class="col-xl-2 m-2 " color="coral" (click)="submitForm('delete')">
      Sil<mat-icon>delete</mat-icon>
    </button>
    <button mat-flat-button class="col-xl-2 m-2 " color="coral" routerLink="/admin/arazicalismasi-list">
      İptal<mat-icon>cancel</mat-icon>
    </button>

  </div>

</div>