<div style="display: flex;flex-direction: column;margin-top: 2%;">
    <angular-editor style="color: black;" [(ngModel)]="editItem.metin" [config]="config"></angular-editor>
    <h5 style="color: black;" class="html-header">HTML Output</h5>
    <div style="color: black;" class="html">
      {{ editItem.metin }}
    </div>
    <p>
        <div style="display: flex;flex-direction: row;text-align: start;justify-content: space-between;width: 40%;">

            <mat-form-field>
              <mat-label>Seyehatname Adı</mat-label>
              <input matInput placeholder="Seyehatname Adı" [(ngModel)]="editItem.seyahatnameadi" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Kodu</mat-label>
              <input matInput placeholder="Kodu" [(ngModel)]="editItem.kodu" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Yüzyılı</mat-label>
              <input type="number" matInput placeholder="Yüzyılı" [(ngModel)]="editItem.yuzyil" />
            </mat-form-field>
         
          </div>


<div style="display: flex;flex-direction: row;">
    <button mat-button style="background-color: rgb(124, 45, 74); margin-left: 10px;width: 10%;" color="coral" routerLink="../../makale"  (click)="Save()">
      Kaydet<mat-icon>save</mat-icon>
    </button>
    <button mat-button style="background-color: rgb(124, 45, 74); margin-left: 10px;width: 10%;" color="coral" routerLink="../../makale" (click)="Delete()">
      Sil<mat-icon>delete</mat-icon>
    </button>
    <button mat-button style="background-color: rgb(124, 45, 74); margin-left: 10px;width: 10%;" color="coral" routerLink="../../makale">
      İptal<mat-icon>cancel</mat-icon>
    </button>
  </div>

  </div>
  
