<section class="content-holder">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="page-title">Kaynakça</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-xl-10">
          <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                  aria-controls="panelsStayOpen-collapseOne"> Seyahatnameler
                  Han ve Kervansaraylar
                  seyyhalar ve seyahatnameleri
                  bas-rınma ve seyahat kültürü
                  ticaret ve hac yolları
                  diğer<span class="number">(12)</span></button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body bibliography">
                  <p>Arnold, N. (2000). “<i>Festival Tourism: Recognizing the Challenge</i>s – Linking Multiple Pathways
                    between Global
                    Villages of the new Century”, Tourism in the 21st Century – Lessons from Experience içinde, (Haz.
                    Faulkner, B. Moscardo, G. ve Laws, E. ), Continuum, Londra, İngiltere. </p>
                  <p>Atmaca, A. (2008). “Toplumsal Yaamda Sanat Eğitiminin Gerekliliği ve Medyanın Rolü”, Aile ve
                    Toplum
                    Eğitim Kültür ve Aratırma Dergisi, Yıl: 10, Cilt: 4, Sayı: 15, s:24. </p>
                  <p>Barutçugil, İ. (1989). “Turizm İletmeciliği”, 3. Baskı, İstanbul, Beta Basım Yayım</p>
                  <p>Boyda, N. (2004). “Sanat Eletirisine Giri”, Ankara: Gündüz Yayıncılık</p>
                  <p>Cömert, M. (2017). “Gastronomi Temalı Yerel Festivaller Üzerine Bir Değerlendirme”, Uluslararası
                    Sosyal
                    Aratırmalar Dergisi / The Journal of International Social Research Cilt: 10, Sayı: 54, Volume: 10
                    Issue:
                    54 s:1092</p>
                  <p>Ekinci O. (2005). “Uygarlıkların İzinde”, yazı dizisi https://www.cumhuriyetarsivi.
                    com/katalog/192/sayfa/2005/9/22/15. xhtml (15. 10. 2018)</p>
                  <p>Gürsoy, D. Kim, K. Ve Uysal, M. (2004). “Perceived Impacts Of Festivals And Special Events By
                    Organizers: An
                    Extension And Validation”, Tourism Management, 25, s. 171–181. </p>
                  <p>Gençaydın, Z. (2002). “Sanat Eğitimcisi Yetitirmede G. E. F. Resim­İ Bölümünün Yeri ve Bugünkü
                    Durumu”,
                    Gazi Üniversitesi 1. Sanat Eğitimi Sempozyumu, Ankara, s. 25­30. </p>
                  <p>Gençaydın, Z. (2006). “Sanat Eğitimi”, Ağın Düün ve Sanat Dergisi, S:170­171, s: 4. </p>
                  <p>Getz, D. Andersson, T. & Carlsen, J. (2010). “Festival management studies developing a framework
                    and
                    priorities for comparative and cross­cultural research”, International Journal of Event and Festival
                    Management, 1(1), 29­59. </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                  aria-controls="panelsStayOpen-collapseTwo"> Seyyahlar ve Seyahatnameleri <span
                    class="number">(48)</span></button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                  <ul>
                    <li><a href="#">William of Rubruck</a></li>
                    <li><a href="#"> Ibn-i Sait</a></li>
                    <li><a href="#"> Ibn-Battuta</a></li>
                    <li><a href="#"> Bertrandon de la Broquere</a></li>
                    <li><a href="#"> Han Dernschwam</a></li>
                    <li><a href="#"> Pierre Belon</a></li>
                    <li><a href="#"> Ogier Ghislain de Busbecq</a></li>
                    <li><a href="#"> Kütbiddin Mekki (Nehrevali)</a></li>
                    <li><a href="#"> Stephan Gerlach</a></li>
                    <li><a href="#"> Simeon</a></li>
                    <li><a href="#"> Tavernier</a></li>
                    <li><a href="#"> B. Le Gouz</a></li>
                    <li><a href="#"> Evliya Çelebi</a></li>
                    <li><a href="#"> Thevonet</a></li>
                    <li><a href="#"> Macarius</a></li>
                    <li><a href="#"> Cornelius de Brun</a></li>
                    <li><a href="#"> Gemelli Careri</a></li>
                    <li><a href="#"> Paul Lucas</a></li>
                    <li><a href="#"> Joseph De Tournefort</a></li>
                    <li><a href="#"> Richard Pococke</a></li>
                    <li><a href="#"> Jean Otter</a></li>
                    <li><a href="#"> Domenico Sestini</a></li>
                    <li><a href="#"> William George Browne</a></li>
                    <li><a href="#"> William Martin Leake</a></li>
                    <li><a href="#"> Ulrich Jasper Seetzen</a></li>
                    <li><a href="#"> John Macdonald Kinneir</a></li>
                    <li><a href="#"> James Morier</a></li>
                    <li><a href="#"> Charles Leonard Irby and James Mangles</a></li>
                    <li><a href="#"> Robert Ker Porter</a></li>
                    <li><a href="#"> Marcellus </a></li>
                    <li><a href="#"> Bernard Eugene Antoine Rottiers</a></li>
                    <li><a href="#"> Leon De Laborde</a></li>
                    <li><a href="#"> W. J. Hamilton</a></li>
                    <li><a href="#"> Anton von Prokesch-Osten</a></li>
                    <li><a href="#"> Helmuth Karl Bernhard von Moltke</a></li>
                    <li><a href="#"> Charles Texier</a></li>
                    <li><a href="#"> William Francis Ainsworth</a></li>
                    <li><a href="#"> Pierre-Amadee Jaubert</a></li>
                    <li><a href="#"> Andreas David Mordtmann</a></li>
                    <li><a href="#"> Hommaire de Hell</a></li>
                    <li><a href="#"> Alfred De Moustier</a></li>
                    <li><a href="#"> Henry J. Van Lennep</a></li>
                    <li><a href="#"> Auguste Choisy</a></li>
                    <li><a href="#"> John Murray</a></li>
                    <li><a href="#"> Henry C. Barkley</a></li>
                    <li><a href="#"> Colmar Von der Goltz</a></li>
                    <li><a href="#"> Vital Cuinet</a></li>
                    <li><a href="#"> Friedrich Sarre</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>