<section class="content-holder">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="page-title">Kaynakça</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-xl-10">
          <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                  aria-controls="panelsStayOpen-collapseOne">
                  Seyahatnameler
              
                  <span class="number">(51)</span></button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body bibliography" [innerHTML]="kaynakca.Seyahatnameler">
                  
                </div>
              </div>
            </div>
           
          </div>
          <div class="accordion" id="accordionPanelsStayOpenExample2">
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                  aria-controls="panelsStayOpen-collapseTwo">
             
                  Konaklama ve Seyahat Kültürü
             
                  <span class="number">(46)</span></button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body bibliography" [innerHTML]="kaynakca.Konaklama_ve_Seyahat_Kulturu">
                   
                  
                </div>
              </div>
            </div>
           
          </div>
          <div class="accordion" id="accordionPanelsStayOpenExample3">
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                  aria-controls="panelsStayOpen-collapseThree">
              
                  Mimari, Sanat ve Tarih
                 
                  <span class="number">(68)</span></button>
              </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body bibliography"  [innerHTML]="kaynakca.Mimari_Sanat_ve_Tarih">
                   
                  
                </div>
              </div>
            </div>
           
          </div>
      
          <div class="accordion" id="accordionPanelsStayOpenExample4">
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                  aria-controls="panelsStayOpen-collapseFour">

                  Diğer
                  <span class="number">(73)</span></button>
              </h2>
              <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingFour">
                <div class="accordion-body bibliography" [innerHTML]="kaynakca.Diger">
                   
                  
                </div>
              </div>
            </div>
           
          </div>
          
        </div>
      </div>
    </div>
  </section>