<section class="content-holder">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="page-title">Kaynakça</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-xl-10">
          <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                  aria-controls="panelsStayOpen-collapseOne">
                  Seyahatnameler
              
                  <span class="number">(51)</span></button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body bibliography">
                  <p>Barth, H. (2017). Heinrich Barth Seyahatnamesi Trabzon’dan Üsküdar’a Yolculuk 1858 (Çeviren: Selma Türkis Noyan). İstanbul: Kitap Yayınevi.</p>
                  <p>Breüning, H. J. (2020). Breüning Seyahatnamesi: Doğu Ülkelerine Yolculuk, İstanbul 1579. İstanbul: Kitap Yayınevi.</p>
                  <p>Broquière, B. de la. (2000). Bertrandon de la Broquière’in denizaşırı seyahati. İstanbul: Eren.</p>
                  <p>Brummett, P. (2009). The book of travels: Genre, etymology and pilgrimage, 1250-1700. Leiden: Brill.</p>
                  <p>Busbecq, O. G. de. (2011). Türk mektupları: Kanuni döneminde Avrupalı bir elçinin gözlemleri (1555-1560). İstanbul: Türkiye İş Bankası Kültür Yayınları.</p>
                  <p>Chandler, R. (1776). Travels in Asia Minor and Greece. Oxford: Clarendon Press.</p>
                  <p>Childs, W. J. (1917). Across Asia Minor on foot. Edinburgh: Blackwood.</p>
                  <p>Chishull, E. (2010). Travels in Turkey and back to England. Gale Ecco.</p>
                  <p>Choiseul-Gouffier, A. de. (1822). Voyage pittoresque de la Grèce. Paris: J.-J. Blaise.</p>
                  <p>Choisy, A. (1876). L’Asie Mineure et les Turcs. Paris: Librairie de Firmin-Didot.</p>
                  <p>Clajivo, R. G. de. (2015). Timur devrinde Kadis'ten Semerkand'a seyahat. Köprü Yayınları.</p>
                  <p>Clajivo, R. G. de. (1993). Anadolu Orta Asya ve Timur: Timur nezdine gönderilen İspanyol sefiri Clavijo’nun seyahat ve sefaret izlenimleri. İstanbul: Ses.</p>
                  <p>Craven, E. (1789). A journey through the Crimea to Constantinople in a series of letters. London: G.G.J. and J. Robinson.</p>
                  <p>Curipeschitz, B. (1989). Yolculuk günlüğü 1530. Ankara: Türk Tarih Kurumu Yayınları.</p>
                  <p>Dernschwam, H. (1992). İstanbul ve Anadolu’ya seyahat günlüğü. Ankara: Kültür Bakanlığı.</p>
                  <p>Ebu Abdullah Muhammed Ibn Battuta Tanci. (2018). Ibn Battuta seyahatnamesi. İstanbul: Yapı Kredi Kültür Sanat Yayıncılık.</p>
                  <p>Evliyâ Çelebi. (2005). Günümüz Türkçesiyle Evliyâ Çelebi Seyahatnâmesi 2:1. İstanbul: Yapı Kredi Yayınları.</p>
                  <p>Evliyâ Çelebi. (2005). Günümüz Türkçesiyle Evliyâ Çelebi Seyahatnâmesi 2:2. İstanbul: Yapı Kredi Yayınları.</p>
                  <p>Evliyâ Çelebi. (2006). Günümüz Türkçesiyle Evliyâ Çelebi Seyahatnâmesi 3:1. İstanbul: Yapı Kredi Yayınları.</p>
                  <p>Evliyâ Çelebi. (2006). Günümüz Türkçesiyle Evliyâ Çelebi Seyahatnâmesi 3:2. İstanbul: Yapı Kredi Yayınları.</p>
                  <p>Evliyâ Çelebi. (2010). Günümüz Türkçesiyle Evliyâ Çelebi Seyahatnâmesi 4:1. İstanbul: Yapı Kredi Yayınları.</p>
                  <p>Evliyâ Çelebi. (2010). Günümüz Türkçesiyle Evliyâ Çelebi Seyahatnâmesi 5:1. İstanbul: Yapı Kredi Yayınları.</p>
                  <p>Evliyâ Çelebi. (2016). Günümüz Türkçesiyle Evliyâ Çelebi Seyahatnâmesi. (Haz. Seyit Ali Kahraman, Yücel Dağlı). İstanbul: Yapı Kredi Yayınları.</p>
                  <p>Flaubert, G. (2018). Doğu Seyahati. İstanbul: İletişim Yayınları.</p>
                  <p>Fresne-Canaye, P. du. (2008). Fresne-Canaye Seyahatnamesi 1573. İstanbul: Kitap Yayınevi.</p>
                  <p>Gemelli Careri, G. F. (1699). Giro del mondo, contenente le cose piu ragguardevoli vedute nella Turchia. Giro del mondo, 1st vol. Nella stamperia di Giuseppe Rosselli.</p>
                  <p>Goltz, C. (1896). Anatolische Ausflüge. Berlin: Schall & Grund.</p>
                  <p>Hamilton, W. J. (2013). Küçük Asya. Midas.</p>
                  <p>Jaubert, A. (1821). Voyage en Arménie et en Perse. Pelicier Libraire.</p>
                  <p>Kiepert, H. (1867). P. v. Tschichatschaff’s Reisen in Kleinasien und Armenien 1847-1863. Justus Perthes.</p>
                  <p>Laborde, L. de. (1838). Voyage de l’Asie Mineure. Paris: Firmin Didot, Frères Editeurs.</p>
                  <p>Le Bruyn, C. (1725). Voyage de Corneille Le Bruyn par la Moscovie et la Perse. Paris: Charles Ferrand.</p>
                  <p>Lennep, Van H. (1870). Little Known Parts of Asia Minor: Thirty Years Missionary in Turkey (Vol. 1). London: John Murray, Albemarle Street.</p>
                  <p>Lubenau, R. (2016). Reinhold Lubenau Seyehatnamesi Osmanlı Ülkesinde 1587-1589. İstanbul: Kitap Yayınevi.</p>
                  <p>Macarius. (1936). The Travels of Macarius, Patriarch of Antioch (F. C. Belfour, Trans.). London: Arno Press.</p>
                  <p>Monte Crucis, R. de. (2018). Doğu Seyahatnamesi: Bir Dominikan Keşişin Anadolu ve Ortadoğu Yolculuğu 1289-1291. İstanbul: Kronik Kitap.</p>
                  <p>Morritt, J. B. S. (1914). The Letters of John B. S. Morritt of Rokeby: Descriptive of Journeys in Europe and Asia Minor in the Years 1794-1796. London: John Murray.</p>
                  <p>Ohler, N. (1989). The medieval traveller. Woodbridge: Boydell.</p>
                  <p>Otter, Jean. (1734). Voyage en Turquie et en Perse. L’Académie Royale des inscriptions & Belles-Lettres, Paris.</p>
                  <p>Prokesch-Osten, A. von. (1831). Erinnerungen aus Aegypten und Kleinasien (Vol. 3). Wien: Carl Armbruster’s Verlagsbuchhandlung.</p>
                  <p>Sarre, Friedrich. (1896). Reise in Kleinasien-Sommer 1895. Berlin: Geographische Verlagshandlung.</p>
                  <p>Sarre, Friedrich. (1998). Küçükasya Seyahati 1895 Yazı: Selçuklu Sanatı ve Ülkenin Coğrafyası Üzerine Araştırmalar (Çeviren: Dara Çolakoğlu). İstanbul: Pera Turizm ve Ticaret A. Ş.</p>
                  <p>Schivelbusch, W. (2014). The Railway Journey: Industrialization of Time and Space in the Nineteenth Century. Berkeley: California University Press.</p>
                  <p>Schweigger, S. (2004). Sultanlar kentine yolculuk. İstanbul: Kitap Yayınevi.</p>
                  <p>Seetzen, U. J. (2017). İstanbul günlükleri ve Anadolu’da yolculuk: 12 Aralık 1802-22 Kasım 1803. Kitap Yayınevi.</p>
                  <p>Sestini, D. (2023). İstanbul 1778. İstanbul: Kitap Yayınevi.</p>
                  <p>Simeon. (2007). The travel accounts of Simeon of Poland. Mazda Publishers.</p>
                  <p>Tafur, P. (2016). Pero Tafur Seyahatnamesi. İstanbul: Kitap Yayınevi.</p>
                  <p>Tavernier, J. B. (2006). Tavernier Seyahatnamesi (S. Yerasimos, Ed.; T. Tunçdoğan, Çev.). İstanbul: Kitap Yayınevi.</p>
                  <p>Thévenot, J. (2009). Thévenot seyahatnamesi (S. Yerasimos, Ed.; A. Berktay, Çev.). Kitap Yayınevi.</p>
                  <p>Tournefort, J. de. (2005). Tournefort seyahatnamesi. İstanbul: Kitap Yayınevi.</p>
                  <p>Werner, C. A. (2011). Padişahın huzurunda elçilik günlüğü 1616-1618. İstanbul: Kitap Yayınevi.</p>
                  
                </div>
              </div>
            </div>
           
          </div>
          <div class="accordion" id="accordionPanelsStayOpenExample2">
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                  aria-controls="panelsStayOpen-collapseTwo">
             
                  Konaklama ve Seyahat Kültürü
             
                  <span class="number">(46)</span></button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body bibliography">
                    <p>Ağaoğlu, B. (1981). “Türkiye Seyahatnameler Kaynakçası”. Son erişim tarihi: 31.10. 2019.</p>
                    <p>Allen, R. (2004). Eastward Bound: Travel and Travellers, 1050-1550. Manchester: Manchester University Press.</p>
                    <p>Alkan, N. (2006). “15. ve 16. yüzyıllarda İran İpek Yolunda Kervanlar”, U.Ü. Fen-Edebiyat Fakültesi Sosyal Bilimler Dergisi, 7(11).</p>
                    <p>Blanton, C. (2002). Travel Writing: The Self and the World. New York: Routledge.</p>
                    <p>Boote, D. N., & Beile, P. (2005). Scholars before researchers: On the centrality of the dissertation literature review in research preparation. Educational Researcher, 34(6), 3-15.</p>
                    <p>Buzard, J. (1993). The beaten track: European tourism, literature, and the ways to "culture", 1800-1918. Clarendon Press.</p>
                    <p>Chassen, A. (2018). Time, space and travel in the pre-modern world: Theoretical and historical reflections. An introduction. In A. Chassen (Ed.), Travel, time, and space in the Middle Ages and early modern time: Explorations of world perceptions and processes of identity formation (pp. 1-16). Berlin: Walter de Gruyter GmbH & Co KG.</p>
                    <p>Clifford, J. (1997). Routes: Travel and translation in the late twentieth century. Harvard University Press.</p>
                    <p>Çalık, A.Ö., Çiftçi, G., & Yetgin, D. (2020). Cultural heritage of Ottoman Anatolia through the eyes of female travelers. In İ. O. Coşkun, A. Lew, N. Othman, G. Yüksek, & S. Günay Aktaş (Eds.), Heritage tourism beyond borders and civilizations: Proceedings of the Tourism Outlook Conference 2018 (pp. xx-xx).</p>
                    <p>Dankoff, R. (2011). An Ottoman traveller: Selections from the Book of Travels of Evliya Çelebi. Eland Publishing.</p>
                    <p>Dankoff, R. (1991). The intimate life of an Ottoman statesman, Melek Ahmed Pasha (1588-1662): As portrayed in Evliya Çelebi's Book of Travels. State University of New York Press.</p>
                    <p>Dankoff, R. (2018). Evliya Çelebi’s map of the Nile and the Nile journeys in the Book of Travels (Seyahatname). Gingko.</p>
                    <p>Dankoff, R. (2006). An Ottoman mentality: The world of Evliya Çelebi (Ottoman Empire and Its Heritage). Brill Academic Publishers.</p>
                    <p>Das, N., & Young, T. (2019). The Cambridge history of travel writing. New York: Cambridge University Press.</p>
                    <p>Diniz-Özay, Y. (2016). Evliyâ Çelebi’nin acayip ve garip dünyası. İstanbul: Yapı Kredi Yayınları.</p>
                    <p>Elsner, J., & Rubiés, J. P. (1999). Voyages and visions: Towards a cultural history of travel. Reaktion Books.</p>
                    <p>Euben, R. L. (2006). Journeys to the other shore: Muslim and Western travelers in search of knowledge. Princeton: Princeton University Press.</p>
                    <p>Faroqhi, S. (2016). Osmanlı İmparatorluğu’nda Yollara Düşenler Zanaatkarlar, Köylüler, Tacirler, Sığınmacılar, Elçiler 16.-18. Yüzyıllar. İstanbul: Kitap Yayınevi.</p>
                    <p>Friedman, J. B., & Figg, K. M. (Eds.). (2000). Trade, travel and exploration in the Middle Ages: An encyclopedia. New York: Routledge.</p>
                    <p>Gascoigne, A. L., Hicks, L. V., & O’Doherty, M. (2016). Journeying along medieval routes in Europe and the Middle East. Turnhout: Brespols.</p>
                    <p>Güler, İ. (2013). Osmanlı Tarihi Kaynakları Olarak Avrupalı Seyyah ve Gözlemciler ile Eserlerinin Önemi. In M. A. Beyhan (Ed.), Geçmişten Günümüze Seyahatler ve Seyahatnameler (pp. 141-174). İstanbul: Kitabevi.</p>
                    <p>Hooper, G., & Youngs, T. (2017). Perspectives on travel writing. Routledge.</p>
                    <p>Labarge, M. W. (1983). Medieval travellers. New York: Norton.</p>
                    <p>Legassie, S. (2017). The Medieval Invention of Travel. Chicago: University of Chicago Press.</p>
                    <p>MacCannell, D. (1999). The tourist: A new theory of the leisure class. University of California Press.</p>
                    <p>Maclean, G. (2006). Doğu’ya Yolculuğun Yükselişi Osmanlı İmparatorluğu’nun İngiliz Konukları (1580-1720) (D. Şendil, Trans.). İstanbul: Yapı Kredi Yayınları.</p>
                    <p>Newton, A. (1996). Travel and travellers of the Middle Ages. London: Routledge.</p>
                    <p>O'Doherty, M., & Schmeider, F. (Eds.). (2015). Travels and mobilities in the Middle Ages: From the Atlantic to the Black Sea. Turnhout: Brepols.</p>
                    <p>Özer, M. (2018). Osmanlı’da Seyahat Kültürü: Kervansaraylar. İstanbul: Baskı Milli Basımevi.</p>
                    <p>Pietra, M. (2018). Remapping Travel Narratives (1000-1700): To the East and Back Again. Leeds: Arc Humanities.</p>
                    <p>Rubiés, J. P., & Bacon, F. (2000). Travel writing as a genre: Facts, fictions, and the invention of a scientific discourse in early modern Europe. Journeys, 1(1), 5–35.</p>
                    <p>Sahillioğlu, H. (1968). Bir tüccar kervanı. Belgelerle Türk Tarihi Dergisi, 9, 63–69.</p>
                    <p>Schivelbusch, W. (2014). The Railway Journey: Industrialization of Time and Space in the Nineteenth Century. Berkeley: California University Press.</p>
                    <p>Schlesier, R. (ed.). (2004). Mobility and Travel in the Mediterranean from Antiquity to the Middle Ages. New Brunswick: Transaction Publishers.</p>
                    <p>Şen, Y. (2017). Yabancı yolcunun uzun hikâyesinde kervanlar ve kervansaraylar. Osmanlı Mirası Araştırmaları Dergisi (OMAD), 4(8), 151–1671.</p>
                    <p>Taeschner, F., Epçeli, N., & Öztürk, Y. (2010). Osmanlı kaynaklarına göre Anadolu yol ağı: 50 tablo ve 2 harita ile birlikte. Bilge Kültür Sanat.</p>
                    <p>Tuncer, O. C. (2007). Anadolu kervan yolları. Ankara: Vakıflar Genel Müdürlüğü Yayınları.</p>
                    <p>Thompson, C. (2011). Travel writing. Routledge.</p>
                    <p>Toutai, H. (2010). Islam and travel in the Middle Ages. Chicago: University of Chicago Press.</p>
                    <p>Urry, J. (1990). The tourist gaze: Leisure and travel in contemporary societies. Sage Publications.</p>
                    <p>Üçel Aybet, G. (2003). Avrupalı Seyyahların Gözünden Osmanlı Dünyası ve İnsanları (1530-1699). İstanbul: İletişim Yayınları.</p>
                    <p>Verdon, J. (2003). Travel in the Middle Ages. Notre Dame, Ind: University of Notre Dame Press.</p>
                    <p>Yerasimos, S. (1999). Explorateurs de la modernité. Les ambassadeurs ottomans en Europe, 35, 65-82.</p>
                    <p>Yerasimos, S. (1991). Les Voyageurs Dans L'Empire Ottoman (XIV-XVI Siecles). Ankara: Türk Tarih Kurumu.</p>
                    <p>Yılmazçelik, İ. (2013). Seyahatnameler ve Ortadoğu. Geçmişten Günümüze Seyahatler ve Seyahatnameler. (Ed.) M. A. Beyhan. İstanbul: Kitabevi. (79-110).</p>
                    <p><a href="https://en.unesco.org/silkroad/">UNESCO.”Silk Road Programme.”</a></p>
                  
                </div>
              </div>
            </div>
           
          </div>
          <div class="accordion" id="accordionPanelsStayOpenExample3">
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                  aria-controls="panelsStayOpen-collapseThree">
              
                  Mimari, Sanat ve Tarih
                 
                  <span class="number">(68)</span></button>
              </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body bibliography">
                    <p>Acun, H. (2007). Anadolu Selçuklu dönemi kervansarayları (1. baskı). T.C. Kültür ve Turizm Bakanlığı Yayınları.</p>
                    <p>Akar, T. (2009). “Osmanlı Kentinde Ticari Mekânlar: Bedesten-Han-Arasta-Çarşı Mekânları Literatür Değerlendirmesi”, Türkiye Araştırmaları Literatür Dergisi, 7(13), 267-292.</p>
                    <p>Akozan, F. (1963). “Türk Han ve Kervansarayları”, Türk Sanatı ve Tarihi Araştırma ve İncelemeleri, 1, 133-167.</p>
                    <p>Aytaç, İ. (2001). Selçuklu döneminde Malatya-Kahta kervanyolu ve kervansarayları. 1. Uluslararası Selçuklu Kültür ve Medeniyeti Kongresi - Bildiriler (pp. 49-59). Konya: Selçuk Üniversitesi Selçuklu Araştırmaları Merkezi.</p>
                    <p>Baykara, T. (1998). “Bazı Selçuklu Kervansarayları Üzerine Notlar”. Tarih İncelemeleri Dergisi, 13, 1-4.</p>
                    <p>Baş, A. (1998). Anadolu Selçuklu dönemi Konya kervansarayları. Sanatsal Mozaik, 3(33), 59–69.</p>
                    <p>Baş, A. (2014). Kayseri Cirgalan Han. I. Uluslararası Selçuklu Sempozyumu, Selçuklu Tahrihi Kültür ve Medeniyet, Bildiriler I, 27-30 Eylül 2010, Kayseri, Ankara: Türk Tarih Kurumu Yayınları.</p>
                    <p>Bektaş, C. (1999). Selçuklu kervansarayları, korunmaları ve kullanılmaları üzerine bir öneri = A proposal regarding the Seljuk caravanserais, their protection and use. İstanbul: Yapı Endüstri Merkezi Yayınları (YEM).</p>
                    <p>Branning, K. (t.y.). The Seljuk han in Anatolia. The Seljuk Han in Anatolia. Retrieved from <a href="http://www.turkishhan.org/homebase.htm">http://www.turkishhan.org/homebase.htm</a></p>
                    <p>Buyruk, H. (2021). Iğdır Kervan Sarayı ve kervan yolu üzerine yeni değerlendirmeler. Türkiyat Araştırmaları Enstitüsü Dergisi, 72, 119-138.</p>
                    <p>Cezar, M. (VIII). Türk tarihinde kervansaray. In VIII. Türk Tarih Kongresi (pp. 931–941). TTK.</p>
                    <p>Crane, H. (1993). Notes on Saljuq architectural patronage in thirteenth-century Anatolia. Journal of Economic and Social History of the Orient, 36, 1-57.</p>
                    <p>Çiğdem, S. (2019). Nevşehirli Damat İbrahim Paşa Külliyesi’nin sosyal ve kültürel hayata katkısı (Yayımlanmamış yüksek lisans tezi). Nevşehir Hacı Bektaş Üniversitesi Sosyal Bilimler Enstitüsü.</p>
                    <p>Çobanoğlu, A. V. (2014). Merzifonlu Kara Mustafa Paşa Külliyesi. İslam Ansiklopedisi, 29, Ankara.</p>
                    <p>Demirkaya, A. (2015). Konya Ilgın Lala Mustafa Paşa Külliyesi (Yayımlanmamış yüksek lisans tezi). Pamukkale Üniversitesi Fen Edebiyat Fakültesi.</p>
                    <p>Duranti, A. (2012). A caravanserai on route to modernity: The case of Valide Han of Istanbul. In M. Gharipour (Ed.), The bazaar in the Islamic city: Design, culture and history (pp. 702-768). New York: The American University in Cairo Press.</p>
                    <p>Eravşar, O. (2017). Yolların tanıkları (1. baskı). Ankara: Türkiye Cumhuriyeti Cumhurbaşkanlığı.</p>
                    <p>Eravşar, O., Türkel Yavuz, P. A., & Toprak, G. M. V. (2013). Ortaçağda Kuzey Anadolu yolları ve yol üstü kuruluşları. Konya: TÜBİTAK.</p>
                    <p>Erdmann, K. (1961). Das anatolische Karavansaray des 13. Jahrhunderts. Berlin: Gebr. Mann Verlag GmbH.</p>
                    <p>Günel, G. (2010). Anadolu Selçuklu dönemi’nde Anadolu’da İpek Yolu - Kervansaraylar - Köprüler. Kebikeç İnsan Bilimleri İçin Kaynak Araştırmaları Dergisi, 29, 133-146.</p>
                    <p>Güran, C. (1978). Türk Hanlarının Gelişimi ve İstanbul Hanları Mimarisi. Vakıflar Genel Müdürlüğü Yayınları, Ankara.</p>
                    <p>Güreşsever Çantay, G. (2016). Osmanlı Menzil Kervansarayları. İstanbul: Fatih Sultan Mehmet Vakıf Üniversitesi Yayınları.</p>
                    <p>Işıl, A. (2022). Osmanlı döneminde Konya-Adana-Belen arası hac ve ticaret yolları ile güzergâh üzerindeki hanlar ve kervansaraylar. Çukurova Üniversitesi.</p>
                    <p>İlter, İ. (1969). Tarihi Türk Hanları. Karayolları Genel Müdürlüğü Yayınları.</p>
                    <p>Kafescioğlu, Ç. (2011). Şehrin ve Seyahatin Görünür Kıldıkları: Seyahatnâme'de Osmanlı ve Ortaçağ Anadolu Mimarliği. In Doğumunun 400. Yılında Evliya Çelebi (pp. 477-499). Ankara: Kültür ve Turizm Bakanlığı.</p>
                    <p>Karaçağ, A. (2007). Avanos Sarı Han. In H. Acun (Ed.), Anadolu Selçuklu dönemi kervansarayları (pp. xx-xx). Ankara: Kültür ve Turizm Bakanlığı Kütüphaneler ve Yayımlar Genel Müdürlüğü.</p>
                    <p>Karaköy, G. (2005). Aksaray çevresinde Selçuklu dönemi kervansarayları. Çanakkale Onsekiz Mart Üniversitesi.</p>
                    <p>Karakuş, F. (2022). Anadolu Selçuklu dönemi sultan hanları üzerine bir inceleme. The Turkish Online Journal of Design, Art and Communication - TOJDAC, 12(1), 71–109.</p>
                    <p>Karpuz, H. (2007). Konya Kızılören Hanı. In H. Acun (Ed.), Anadolu Selçuklu dönemi kervansarayları (pp. xx-xx). Kültür ve Turizm Bakanlığı Kütüphaneler ve Yayımlar Genel Müdürlüğü.</p>
                    <p>Kaya, N. (2016). Evliyâ Çelebi’nin Seyahatnâmesi’nde Görsel Sanat Eserlerinin Tasviri: Ekfrastik Bir Yaklaşım (Doktora tezi, Türk Dili ve Edebiyatı Bölümü, İhsan Doğramacı Bilkent Üniversitesi, Ankara).</p>
                    <p>Kayseri Ansiklopedisi. (2013). Barsama Hanı maddesi. Kayseri Taşınmaz Kültür Varlıkları Envanteri (Cilt 2, ss. 722-723). Kayseri.</p>
                    <p>Kazancıoğlu, H. (2014). Osmanlı Dönemi Kervansaraylarının Sosyo-Kültürel ve Ekonomik Fonksiyonları. Marmara Üniversitesi.</p>
                    <p>Kılıcı, A., Günel, G., & Gümüş, E. (2019). İpek Yolu’nda Kervansaray Yolu. In F. Atasoy (Ed.), İpek Yolu’nda Kervansaray Yolu (pp. [page numbers]). Ankara: Net Kitaplık Yayıncılık.</p>
                    <p>Kula Say, S., & Topçubaşı, M. (2013). Onsekizinci yüzyıl Osmanlı’sına Avrupalı’nın bakışı ve mimariye dair gözlemleri. In M. A. Beyhan (Ed.), Geçmişten günümüze seyahatler ve seyahatnameler (pp. 241-265). İstanbul: Kitabevi.</p>
                    <p>Kuran, A. (1981). The Sultan Hans of Alaeddin Keykubad. In Ç. Kafesçioğlu, L. Thys-Şenocak, & T. Kuran (Eds.), Selçuklular’dan Cumhuriyet’e Türkiye’de Mimarlık (pp. 191-212). İstanbul: Yaylacılık Matbaacılık.</p>
                    <p>Kuran, A. (2012). Caravanserais. In Selçuklulardan Cumhuriyete Türkiye’de Mimarlık (pp. 99-110). Editor: Çiğdem Kafesçioğlu.</p>
                    <p>Kuyulu, İ. (1996). Anadolu Selçuklu Kervansarayları ile Orta Asya Kervansaraylarının Karşılaştırılmasına Yönelik Bir Deneme. Sanat Tarihi Dergisi, 8, 51-79.</p>
                    <p>Küpeli, Ö. (2001). Afyonkarahisar’da Kervansaraylar, Bedestenler ve Hanlar. Afyonkarahisar Kütüğü Cilt 1, 359–370. Afyon Kocatepe Üniversitesi Yayınları.</p>
                    <p>Lotfalikhania, E., & Danaeiniab, A. (2017). Typology architecture of the stone caravanserais of the Seljuk period in Qom Province. International Journal of Applied Art Studies, 2(1), 7-18.</p>
                    <p>Mundell Mango, M. (2000). Commercial map of Constantinople. Dumbarton Oaks Papers, 54, 189-207.</p>
                    <p>Nalçacı, N. M. (2010). İstanbul’un tarihsel kaynakları olarak seyahatnameler. Türkiye Araştırmaları Literatür Dergisi, 8(16), 523-562.</p>
                    <p>Önge, M. (2007). Caravanserais as symbols of power in Seljuk Anatolia. In J. Osmond & A. Cimdina (Eds.), Caravanserais as Symbols of Power in Seljuk Anatolia (pp. 49–69). Pisa: Plus-Pisa University Press.</p>
                    <p>Özbek, Y. (2007). Sultan Han. In H. Acun (Ed.), Anadolu Selçuklu dönemi kervansarayları (pp. [specific pages]). Ankara: Kültür ve Turizm Bakanlığı Kütüphaneler ve Yayımlar Genel Müdürlüğü.</p>
                    <p>Özcan, K. (2007). Vakfiyelere göre Selçuklu Kentinde Ticaret Mekanları Örgütlenme Düzeni ve Mekansal Diziliş Biçimleri Üzerine Bir Deneme: Konya Örneği. Vakıflar Dergisi, 30, 85-98.</p>
                    <p>Özer, M. (2005). Seyyahların Gözüyle Osmanlı Döneminde Faaliyet Gösteren Kervansaraylar. İstanbul Teknik Üniversitesi.</p>
                    <p>Özergin, M. K. (1965). Anadolu’da Selçuklu Kervansarayları. İstanbul Üniversitesi Edebiyat Fakültesi Tarih Dergisi, 15(20), 141-170.</p>
                    <p>Özergin, M. K. (1959). Anadolu Selçuklular Çağında Anadolu Yolları (Basılmamış Doktora Tezi). İstanbul Üniversitesi Edebiyat Fakültesi Tarih Bölümü, İstanbul.</p>
                    <p>Pantık, Ramazan. (2021). Merzifonlu Kara Mustafa Paşa Vakıfları: Yönetimi, Kentsel Gelişime Katkıları ve İktisadi Yapısı (Yüksek Lisans Tezi). Hacettepe Üniversitesi, Sosyal Bilimler Enstitüsü.</p>
                    <p>Peker, A. U. (1996). Selçuklu-Osmanlı Kervansaraylarının Günümüzdeki Kullanımları ve Durumları (Kayseri-Sivas-Aksaray-Nevşehir). Yayımlanmamış doktora tezi, İstanbul Teknik Üniversitesi Sosyal Bilimler Enstitüsü, İstanbul.</p>
                    <p>Pfeiffer-Taş, Ş. (2011). Seyahatnâme’de Bursa, Kayseri ve Urfa Çarşıları. In Doğumunun 400. Yılında Evliyâ Çelebi (pp. 283-303). Ankara: Kültür ve Turizm Bakanlığı.</p>
                    <p>Pınar, İ. (Ed.). (1998). Alman Gezginlerin Gözüyle 19. Yüzyıl Anadolu Şehirleri. İzmir: Akademi Kitabevi.</p>
                    <p>Polat, N. (2018). Creating new touristic fashion routes with caravanserais on the ancient Silk Road in Turkey. Almatourism Special Issue, 09, 213–221.</p>
                    <p>Şen, Y. (2017). Yabancı yolcunun uzun hikâyesinde kervanlar ve kervansaraylar. Osmanlı Mirası Araştırmaları Dergisi (OMAD), 4(8), 151–1671.</p>
                    <p>Taştan, A. (2010). Türkiye Selçukluları zamanında Tokat ve çevresindeki kervansaraylar (Yayımlanmamış yüksek lisans tezi). Gaziosmanpaşa Üniversitesi.</p>
                    <p><a href="http://www.turkishhan.org/">The Seljuk Han of Anatolia. Branning, K.</a></p>
                    <p>Topçu, M. (2022). Kara Mustafa Paşa’nın Merzifon’daki imar faaliyetleri. Kamu Yönetimi Sosyal Bilimler Dergisi, 2(1), 87–122.</p>
                    <p>Tuncer, O. C. (2007). Anadolu kervan yolları. Ankara: Vakıflar Genel Müdürlüğü Yayınları.</p>
                    <p>Usta, G. K. (1994). Anadolu Osmanlı dönemi mimarisinde mekân analizi: Han ve kervansaray yapılarda uygulama (Yüksek lisans tezi). Karadeniz Teknik Üniversitesi.</p>
                    <p>Uçmaz, H. (2018). Selçuklu-Osmanlı kervansaraylarının günümüzdeki kullanımları ve durumları (Kayseri-Sivas-Aksaray-Nevşehir) (Yüksek lisans tezi, Erciyes Üniversitesi Sosyal Bilimler Enstitüsü, Kayseri).</p>
                    <p>Ünal, R. H. (1970). Iğdır yakınlarında bir Selçuklu kervansarayı ve Doğubayazıt-Batum kervan yolu hakkında notlar. Sanat Tarihi Yıllığı, 3, 7-15.</p>
                    <p>Ünal, R. H. (1973). Erzurum ili dahilindeki İslami devir anıtları üzerine bir inceleme. Edebiyat ve Beşeri Bilimler Dergisi, 6, 48-148.</p>
                    <p>Yalman, S. (2017). The ‘dual identity’ of Mahperi Khatun: Piety, patronage, and marriage across frontiers in Seljuk Anatolia. In Architecture and landscape in medieval Anatolia, 1100-1500. Edinburgh University Press.</p>
                    <p>Yavuz, A. T. (1991). Mirçinge Han ve Anadolu Selçuklu Dönemi Eşodaklı Kervansaraylar Arasındaki Yeri. ODTÜ MFD, 11(1-2), 41-55.</p>
                    <p>Yavuz, A. T. (1994). Anadolu Kervansarayları ve Vakıflar. Vakıf Haftası Dergisi, 11, 39-46.</p>
                    <p>Yavuz, A. T. (1976). Anadolu’da Eşodaklı Selçuklu Hanları, Journal Faculty of Architecture, 2, 187 - 204.</p>
                    <p>Yavuz, A. T. (2008). Konya ve Çevresindeki İpekyolundan Kalan Hanlar. Dünden Bugüne İpek Yolu: Beklentiler ve Gerçekler. Ötüken.</p>
                    <p>Yavuz, A. T. (1997). The Concepts That Shape Anatolian Seljuq Caravanserais. Muqarnas XIV: An Annual on the Visual Culture of the Islamic World, (ed.). Gülru Necipoğlu, Brill, (pp. 80–95).</p>
                    <p>Yaşar, A. (2016). The Han in Eighteenth- and Early Nineteenth- Century Istanbul: A Spatial, Topographical and Social Analysis. (Yayımlanmamış doktora tezi), Boğaziçi Üniversitesi, Sosyal Bilimler Enstitüsü, İstanbul.</p>
                    <p>Yurdakul, E. (1969). Tokat Vilayetinin Gümüştop (Dazya) Köyündeki XIV ncü Yüzyıla Ait Eski Eserler. Vakıflar Dergisi (8):243-47.</p>
                  
                </div>
              </div>
            </div>
           
          </div>
      
          <div class="accordion" id="accordionPanelsStayOpenExample4">
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                  aria-controls="panelsStayOpen-collapseFour">

                  Diğer
                  <span class="number">(73)</span></button>
              </h2>
              <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingFour">
                <div class="accordion-body bibliography">
                    <p>Adak, U. (2022). Uluslararası imtiyaz mücadeleleri bağlamında on dokuzuncu yüzyılda İzmir limanı. Alınteri Sosyal Bilimler Dergisi, 6(2), 145-159.</p>
                    <p>Adıtatar, F. (2011). İzmir İngiliz konsolosluğu ve siyasi faaliyetleri (1878-1914): İngiliz konsolosluk raporlarında (Yayımlanmamış doktora tezi). Dokuz Eylül Üniversitesi.</p>
                    <p>Akyüz, A., Yetişkin, G., & İçen, S. (2010). Tokat merkez ve ilçeleri taşınmaz kültür ve tabiat varlıkları envanteri 2010. İl Kültür ve Turizm Müdürlüğü.</p>
                    <p>Allak, F. (2017). Nevşehirli Sadrazam İbrahim Paşa’nın banilik faaliyetleri (Yayımlanmamış yüksek lisans tezi). Yüzüncü Yıl Üniversitesi Sosyal Bilimler Enstitüsü.</p>
                    <p>Anderson, B. (2016). Imagined communities: Reflections on the origin and spread of nationalism. Verso.</p>
                    <p>Arıkan, G. (1998). Osmanlı İmparatorluğunda Tanzimat ve II. Meşrutiyet dönemlerinde kadınların statüsü ile ilgili gelişmeler. Türk Yurdu, 18 (133), 26–34.</p>
                    <p>Arslantürk, H. A. (2011). Bir bürokrat ve yatırımcı olarak Kanuni Sultan Süleyman’ın veziriazamı Rüstem Paşa (Yayımlanmamış yüksek lisans tezi). Marmara Üniversitesi Sosyal Bilimler Enstitüsü.</p>
                    <p>Aslanapa, O. (1990). Türk sanatı. Yükseköğretim Kurulu Matbaası.</p>
                    <p>Atak, E. (2017). Tokat Çamlıbel’deki Türk dönemi yapıları. ASOS Journal, 54, 233-259. <a href="https://doi.org/10.16992/ASOS.12800">https://doi.org/10.16992/ASOS.12800</a></p>
                    <p>Ayverdi, E. H. (2000). Avrupa’da Osmanlı Mimari Eserleri. 4 kitap. İstanbul: İstanbul Fetih Cemiyeti.</p>
                    <p>Baedeker, K. (1905). Baedeker’s Konstantinopel und Kleinasien. Verlag von Karl Baedeker.</p>
                    <p>Bakhtin, M. (1982). The dialogic imagination: Four essays (C. Emerson & M. Holquist, Trans.). University of Texas Press. (Reprint edition).</p>
                    <p>Barkey, K. (2008). Empire of difference: The Ottomans in comparative perspective. Cambridge University Press.</p>
                    <p>Bayram, T. (2011). Gebze Çoban Mustafa Paşa Camii ve Külliyesi (Yayımlanmamış yüksek lisans tezi). Marmara Üniversitesi Sosyal Bilimler Enstitüsü İlahiyat Anabilim Dalı İslam Tarihi ve Sanatları Bilim Dalı.</p>
                    <p>Bhabha, H. K. (1994). The location of culture. Routledge.</p>
                    <p>Bilici, Z. Kenan (2018). Anadolu Selçuklu Çağı Mirası. 3 cilt. Selçuklu Belediyesi.</p>
                    <p>Bourdieu, P. (2010). Distinction: A social critique of the judgement of taste. Routledge.</p>
                    <p>Bruner, E. M. (1986). The anthropology of experience. University of Illinois Press.</p>
                    <p>Cahen, C. (2000). Osmanlılardan önce Anadolu’da Türkler. Tarih Vakfı Yurt Yayınları.</p>
                    <p>Campbell, J. (2012). The hero with a thousand faces. New World Library.</p>
                    <p>Campbell, M. (1991). The Witness and the Other World: Exotic European Travel Writing, 400-1600. Ithaca: Cornell University Press.</p>
                    <p>Certeau, M. de. (2011). The practice of everyday life (S. F. Rendall, Trans.; 3rd ed.). University of California Press.</p>
                    <p>Clifford, J. (1988). The Predicament of Culture: Twentieth- Century Ethnography, Literature, and Art. Cambridge, MA: Harvard University Press.</p>
                    <p>Cohen, E. (1984). The Sociology of tourism: approaches, issues, and findings. Annuel Review of Sociology, 10, 373-392.</p>
                    <p>Cohen, E. (1979). A phenomenology of tourist experiences. Sociology, 13 (2), 179-201.</p>
                    <p>Creswell, J. W. (2014). Research design: Qualitative, quantitative, and mixed methods approaches (4th ed.). Thousand Oaks, CA: Sage.</p>
                    <p>Creswell, J. W. (2004). Place: A short introduction. Blackwell Publishing.</p>
                    <p>ÇEKÜL Vakfı. (2012). Çekül Anadolu Araştırmaları. İstanbul: <a href="https://www.cekul.com.tr">www.cekul.com.tr</a></p>
                    <p>Damrosch, D., & Pike, D. L. (2009). The Longman anthology of world literature. New York: Longman.</p>
                    <p>Demir, E. (2016). Lala Mustafa Paşa’nın hayatı ve siyasi faaliyetleri (Yayımlanmamış yüksek lisans tezi). Marmara Üniversitesi Türkiyat Araştırmaları Enstitüsü.</p>
                    <p>Farge, A. (2013). The allure of the archives (T. Scott, Trans.). Yale University Press.</p>
                    <p>Faroqhi, S. (2009). Osmanlı Tarihi Nasıl İncelenir?. İstanbul: Tarih Vakfı Yurt Yayınları.</p>
                    <p>Faroqhi, S. (2005). Subjects of the sultan: Culture and daily life in the Ottoman Empire. I.B. Tauris.</p>
                    <p>Fink, A. (2020). Conducting research literature reviews: From the internet to paper (5th ed.). Thousand Oaks, CA: Sage.</p>
                    <p>Foucault, M. (1984). Of other spaces, heterotopias. Routledge.</p>
                    <p>Forsdick, C., Zoë Kinsley, and Kathryn Walchester. (2019). Keywords for Travel Writing Studies: A Critical Glossary. London: Anthem Press.</p>
                    <p>Francis, J. (2008). Aesthetic confusion: The legacy of New Criticism. Language Arts Journal of Michigan, 24(1), 8–33.</p>
                    <p>Gabriel, A. (1931). Monuments turcs d’Anatolie. Paris: E. de Boccard.</p>
                    <p>Halaçoğlu, Y. (Ed.). (2002). Türkler. Yeni Türkiye Yayınları.</p>
                    <p>Hart, C. (1998). Doing a literature review: Releasing the social science research imagination. SAGE.</p>
                    <p>Harvey, D. (1990). The condition of postmodernity: An enquiry into the origins of cultural change. Blackwell.</p>
                    <p>Hitzel, F. (2001). L'Empire Ottoman, XVe-XVIIIe siècles. Editions Les Belles Lettres.</p>
                    <p>Jimerson, R. C. (2003). Archives and memory. OCLC Systems & Services: International Digital Library Perspectives, 19(3), 89-95.</p>
                    <p>Kammen, M. (1997). In the past lane: Historical perspectives on American culture. Oxford University Press.</p>
                    <p>Kaya, N. (2024). Gözlerimi kaparım, seyahatimi yaparım: Susan Sontag’ın Alice Yatakta adlı oyununda hayalî seyahat. Tiyatro Eleştirmenliği ve Dramaturji Bölümü Dergisi, 38, 1–11.</p>
                    <p>Kuban, D. (2002). Çağlar boyunca Türkiye sanatının anahatları. İstanbul: Yapı Kredi Yayınları.</p>
                    <p>Lefebvre, H. (1991). The Production of Space. Oxford: Blackwell Publishing.</p>
                    <p>Meyer, S. (2007). Susan Sontag’s ‘Archaeology of Longings’. Texas Studies in Literature and Language, 49(1), 51.</p>
                    <p>Nayır, Z. (1975). Osmanlı mimarlığında Sultan Ahmet Külliyesi ve sonrası (1609-1690). İstanbul: İTÜ Mimarlık Fakültesi Yayınları.</p>
                    <p>Olivier, G. A. (2016). 18. yüzyılda Türkiye ve İstanbul. Köprü Yayınları.</p>
                    <p>Ögel, S. (1994). Anadolu Selçuklu’nun Çehresi. İstanbul: Akbank Yayınları.</p>
                    <p>Pamuk, Ş. (2000). A Monetary History of the Ottoman Empire. London: Cambridge University Press.</p>
                    <p>Pancaroğlu, Oya. (2013). The House of Mengüjek in Divriği: Constructions of Dynastic Identity in the Late Twelfth Century. In A.C.S. Peacock & Sara Nur Yildiz (Eds.), The Seljuks of Anatolia: Court and Society in the Medieval Middle East (pp. 25–67). I.B. Tauris.</p>
                    <p>Peacock, A. C. S. (2015). The Great Seljuk Empire. Edinburgh: Edinburgh University Press.</p>
                    <p>Polat, N. (2018). Creating new touristic fashion routes with caravanserais on the ancient Silk Road in Turkey. Almatourism Special Issue, 09, 213–221.</p>
                    <p>Randolph, J. J. (2009). A guide to writing the dissertation literature review. Practical Assessment, Research, and Evaluation, 14(1), 13.</p>
                    <p>Redford, S. (2013). Paper, stone, scissors: 'Ala’al-Din Kayqubad, Ismat Al-Dunya Wa’l-Din, and the writing of Seljuk history. In A.C.S. Peacock & S.N. Yildiz (Eds.), The Seljuks of Anatolia: Court and society in the medieval Middle East (pp. 151–170). I.B. Tauris.</p>
                    <p>Rogers, J. M. (1976). Waqf and patronage in Seljuk Anatolia: The epigraphic evidence. Anatolian Studies, 26, 69–103.</p>
                    <p>Said, E. W. (2003). Orientalism. Penguin Classics.</p>
                    <p>Schmidt, G. (2005). I see, I see, said the blind man... Journal of Visual Art Practice, 4(2), 151-165.</p>
                    <p>Sharpley, R. (2018). Tourism, tourists and society. Routledge.</p>
                    <p>Somer, P. M., & Erdem, A. (2015). Mimari temsilde ekfrasis: Danteum ve Masumiyet Müzesi üzerine. Megaron, 10(2), 179-194.</p>
                    <p>Sontag, S. (2017). Debriefing. New York: Farrar, Straus, Giroux.</p>
                    <p>Steedman, C. (2001). Dust: The archive and cultural history. Rutgers University Press.</p>
                    <p>Steinby, L., & Tintti, T. (Eds.). (2013). Bakhtin and his others: (Inter)subjectivity, chronotope, dialogism. London, New York: Anthem Press.</p>
                    <p>Straus, E. (1963). The primary world of the senses. New York: Free Press of Glencoe.</p>
                    <p>Şen, B. (2012). Kentsel mekân ve göç ilişkisine ‘barınak’tan bakmak: Tarihsel süreçte erkek göçmenlerin barınma mekânları. Toplum ve Demokrasi, 6(13-14), 177-200.</p>
                    <p>Şenyiğit, Ö. (2021). Ekfrasis ve hermenötik kavramını araçsallaştırarak mimarlık eğitiminde temsili mekân üretimi. Journal of Qualitative Research in Education, 25, 295-310. <a href="https://doi.org/10.14689/enad.25.12">https://doi.org/10.14689/enad.25.12</a></p>
                    <p>Texier, C. (2002). Küçük Asya, coğrafyası, tarihi ve arkeolojisi (Cilt 1). Enformasyon ve Dokümantasyon Hizmetleri Vakfı.</p>
                    <p>Tezcan, B. (2010). The second Ottoman Empire: Political and social transformation in the early modern world. Cambridge University Press.</p>
                    <p>Tuan, Y.-f. (1990). Topophilia: A study of environmental perception, attitudes, and values. Columbia University Press.</p>
                    <p>Turan, O. (1948). Celaleddin Karatay, vakıfları ve vakfiyeleri. Belleten, 12(45), 17-160.</p>
                    <p>Walonen, M. K. (2023). An introduction to the analysis of fiction. Press Books.</p>
                    <p>Webster, J., & Watson, R. T. (2002). Analyzing the past to prepare for the future: Writing a literature review. MIS Quarterly, 26(2), 13-23.</p>
                  
                </div>
              </div>
            </div>
           
          </div>
          
        </div>
      </div>
    </div>
  </section>