<div style="margin-top: 1%;margin-left: 25px;margin-right: 25px;">
    <mat-form-field >
        <input [(ngModel)]="str" matInput placeholder="Search" (ngModelChange)="valuechange(str)" />
    </mat-form-field>
    <div style="width: 100%; overflow-x: auto">
        <mat-table [dataSource]="dataSource" style="min-width: 800px">
         
    
            <ng-container matColumnDef="Lokasyon İsmi">
                <mat-header-cell *matHeaderCellDef> Lokasyon ID </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.LokasyonId }} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="isim">
                <mat-header-cell *matHeaderCellDef>Saha Çalışması Adı </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.Sahaismi }} </mat-cell>
            </ng-container>
    
    
      
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef>
                    <button mat-mini-fab routerLink="../editsaha/-1" style="background-color: rgb(117, 107, 93); color: coral">
                        <mat-icon>add</mat-icon>
                    </button>
                </mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index">
                    <button mat-mini-fab routerLink="../editsaha/{{ row.Sahaismi }}"
                        style="background-color: rgb(117, 107, 93); color: coral">
                        <mat-icon>edit</mat-icon></button>
                     
                </mat-cell>
            </ng-container>
    
            <mat-header-row *matHeaderRowDef="[ 'Lokasyon İsmi','isim','action']"></mat-header-row>
            <mat-row *matRowDef="
              let row;
              columns: [ 'Lokasyon İsmi','isim','action']
            "></mat-row>
        </mat-table>
    </div>
    </div>