<section class="content-holder">
	<div class="container">
	<div class="row">
		<div class="col-12">
		<h1 class="page-title">Proje Ekibi</h1>
		</div>
		</div>
		<div class="row justify-content-center">
		<div class="col-12">
			<div class="member-holder">
			<img src="../../../assets/img/ahmet-erdem-tozoglu.jpg" class="member-photo img-fluid rounded-circle" alt="">
			<p class="member-name text-center">Ahmet Erdem TOZOĞLU</p>
			<p class="member-title text-center">Proje Yürütücüsü</p>
				</div>
		</div>
		<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
			<div class="member-holder">
			<img src="../../../assets/img/blank-pp.jpg" class="member-photo img-fluid rounded-circle" alt="">
			<p class="member-name text-center">İsim SOYİSİM</p>
			<p class="member-title text-center">Proje Görevi</p>
				</div>
		</div>
			<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
			<div class="member-holder">
			<img src="../../../assets/img/blank-pp.jpg" class="member-photo img-fluid rounded-circle" alt="">
			<p class="member-name text-center">İsim SOYİSİM</p>
			<p class="member-title text-center">Proje Görevi</p>
				</div>
		</div>
			<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
			<div class="member-holder">
			<img src="../../../assets/img/blank-pp.jpg" class="member-photo img-fluid rounded-circle" alt="">
			<p class="member-name text-center">İsim SOYİSİM</p>
			<p class="member-title text-center">Proje Görevi</p>
				</div>
		</div>
			<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
			<div class="member-holder">
			<img src="../../../assets/img/blank-pp.jpg" class="member-photo img-fluid rounded-circle" alt="">
			<p class="member-name text-center">İsim SOYİSİM</p>
			<p class="member-title text-center">Proje Görevi</p>
				</div>
		</div>
			<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
			<div class="member-holder">
			<img src="../../../assets/img/blank-pp.jpg" class="member-photo img-fluid rounded-circle" alt="">
			<p class="member-name text-center">İsim SOYİSİM</p>
			<p class="member-title text-center">Proje Görevi</p>
				</div>
		</div>
			<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
			<div class="member-holder">
			<img src="../../../assets/img/blank-pp.jpg" class="member-photo img-fluid rounded-circle" alt="">
			<p class="member-name text-center">İsim SOYİSİM</p>
			<p class="member-title text-center">Proje Görevi</p>
				</div>
		</div>
			<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
			<div class="member-holder">
			<img src="../../../assets/img/blank-pp.jpg" class="member-photo img-fluid rounded-circle" alt="">
			<p class="member-name text-center">İsim SOYİSİM</p>
			<p class="member-title text-center">Proje Görevi</p>
				</div>
		</div>
			<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
			<div class="member-holder">
			<img src="../../../assets/img/blank-pp.jpg" class="member-photo img-fluid rounded-circle" alt="">
			<p class="member-name text-center">İsim SOYİSİM</p>
			<p class="member-title text-center">Proje Görevi</p>
				</div>
		</div>			
			<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
			<div class="member-holder">
			<img src="../../../assets/img/blank-pp.jpg" class="member-photo img-fluid rounded-circle" alt="">
			<p class="member-name text-center">İsim SOYİSİM</p>
			<p class="member-title text-center">Proje Görevi</p>
				</div>
		</div>
			
		</div>
		
	</div>
	</section>
	