<section class="content-holder">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="page-title">Proje Ekibi</h1>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-12">
				<div class="member-holder">
					<img src="../../../assets/img/pp-08.png" class="member-photo img-fluid rounded-circle" alt="">
					<p class="member-name text-center">Doç. Dr. Ahmet Erdem TOZOĞLU</p>
					<p class="member-title text-center" style="font-size: 0.8em">(İstanbul Teknik Üniversitesi)</p>
					<p class="member-title text-center"><strong>Proje Yürütücüsü</strong></p>

				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
				<div class="member-holder">
					<img src="../../../assets/img/pp-03.png" class="member-photo img-fluid rounded-circle" alt="">
					<p class="member-name text-center">Doç. Dr. Nisa SEMİZ</p>
					<p class="member-title text-center" style="font-size: 0.8em">(Abdullah Gül Üniversitesi)</p>
					<p class="member-title text-center"><strong>Araştırmacı</strong></p>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
				<div class="member-holder">
					<img src="../../../assets/img/pp-01.png" class="member-photo img-fluid rounded-circle" alt="">
					<p class="member-name text-center">Dr. Öğr. Üyesi Nilay Kaya</p>
					<p class="member-title text-center" style="font-size: 0.8em">(İstanbul Bilgi Üniversitesi)</p>
					<p class="member-title text-center"><strong>Araştırmacı</strong></p>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
				<div class="member-holder">
					<img src="../../../assets/img/pp-04.png" class="member-photo img-fluid rounded-circle" alt="">
					<p class="member-name text-center">Dr. Öğr. Üyesi Vacide Betül KURTULUŞ</p>
					<p class="member-title text-center" style="font-size: 0.8em">(Abdullah Gül Üniversitesi)</p>
					<p class="member-title text-center"><strong>Araştırmacı</strong></p>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
				<div class="member-holder">
					<img src="../../../assets/img/pp-09.png" class="member-photo img-fluid rounded-circle" alt="">
					<p class="member-name text-center">Arş. Gör. Mehmet Emin AYKURT</p>
					<p class="member-title text-center" style="font-size: 0.8em">(Erciyes Üniversitesi)</p>
					<p class="member-title text-center"><strong>Bursiyer</strong></p>
					<p class="member-title text-center" style="font-size: 0.8em">Proje Görevi: Web Arayüz Tasarımı
					</p>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
				<div class="member-holder">
					<img src="../../../assets/img/pp-10.png" class="member-photo img-fluid rounded-circle" alt="">
					<p class="member-name text-center">Arş. Gör. Ali YILMAZ</p>
					<p class="member-title text-center" style="font-size: 0.8em">(İstanbul Teknik Üniversitesi)</p>
					<p class="member-title text-center"><strong>Bursiyer</strong></p>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
				<div class="member-holder">
					<img src="../../../assets/img/pp-05.png" class="member-photo img-fluid rounded-circle" alt="">
					<p class="member-name text-center">Mahir Eriş ÜNSAL</p>
					<p class="member-title text-center"><strong>Çevirmen</strong></p>
					<p class="member-title text-center" style="font-size: 0.8em">Proje Görevi: Seyahatname
						Metinlerinin Tercümesi ve Analizi</p>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
				<div class="member-holder">
					<img src="../../../assets/img/pp-07.png" class="member-photo img-fluid rounded-circle" alt="">
					<p class="member-name text-center">Nayiri BÜYÜKSİMKEŞYAN</p>
					<p class="member-title text-center"><strong>Bursiyer</strong></p>
					<p class="member-title text-center" style="font-size: 0.8em">Proje Görevi: Seyahatname
						Metinlerinin Okunması</p>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
				<div class="member-holder">
					<img src="../../../assets/img/pp-02.png" class="member-photo img-fluid rounded-circle" alt="">
					<p class="member-name text-center">M. Burak KÖROĞLU</p>
					<p class="member-title text-center" style="font-size: 0.8em">(Abdullah Gül Üniversitesi)</p>
					<p class="member-title text-center"><strong>Bursiyer</strong></p>
					<p class="member-title text-center" style="font-size: 0.8em">Proje Görevi: Saha Çalışmaları ve Seyahatname
						Metinlerinin Okunması</p>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
				<div class="member-holder">
					<img src="../../../assets/img/WhatsApp Image 2024-12-26 at 11.35.32 (1).jpeg" class="member-photo img-fluid rounded-circle" alt="">
					<p class="member-name text-center">İrem YAŞAR</p>
					<p class="member-title text-center"><strong>Bursiyer</strong></p>
					<p class="member-title text-center" style="font-size: 0.8em">Proje Görevi: Seyahatname Metinlerinin
						Veri Haline Getirilmesi</p>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
				<div class="member-holder">
				<img src="../../../assets/img/WhatsApp Image 2024-12-26 at 11.35.32.jpeg" class="member-photo img-fluid rounded-circle" alt="">
				<p class="member-name text-center">Aysun GÜNGÖR</p>
				<p class="member-title text-center"><strong>Bursiyer</strong></p>
					<p class="member-title text-center" style="font-size: 0.8em">Proje Görevi: Seyahatname Metinlerinin Okunması</p>
					</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
				<div class="member-holder">
				<img src="../../../assets/img/WhatsApp Image 2024-12-26 at 11.35.31 (1).jpeg" class="member-photo img-fluid rounded-circle" alt="">
				<p class="member-name text-center">Ali Doğan DEMİR</p>
				<p class="member-title text-center"><strong>Bursiyer</strong></p>
					<p class="member-title text-center" style="font-size: 0.8em">Proje Görevi: Arşiv Belgelerinin Okunması ve Transkripsiyonu</p>
					</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
				<div class="member-holder">
				<img src="../../../assets/img/WhatsApp Image 2024-12-26 at 11.35.31.jpeg" class="member-photo img-fluid rounded-circle" alt="">
				<p class="member-name text-center">Onur PAKER </p>
				<p class="member-title text-center"><strong>Bursiyer</strong></p>
					<p class="member-title text-center" style="font-size: 0.8em">Proje Görevi: Arşiv Belgelerinin Okunması ve Transkripsiyonu</p>
					</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
				<div class="member-holder">
					<img src="../../../assets/img/pp-06.png" class="member-photo img-fluid rounded-circle" alt="">
					<p class="member-name text-center">Osman HANÇER</p>
					<p class="member-title text-center" style="font-size: 0.8em">(Erciyes Üniversitesi)</p>
					<p class="member-title text-center"><strong>Bursiyer</strong></p>
					<p class="member-title text-center" style="font-size: 0.8em">Proje Görevi: Frontend Ve Backend
						Geliştirme
					</p>
				</div>
			</div>

		</div>

	</div>
</section>
<!-- Seyahatname 	Bilgiler -->
<!-- Seyyah ve Seyahatname 	Bilgiler -->
