
<section class="free-cards-holder">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="sy-card olive">
                            <div class="sy-card-title">PROJE HAKKINDA</div>
                            <div class="sy-card-body">
                                <p>{{ truncateText(homeTexts?.hakkinda, 300) }}</p>
                                <p class="text-center mt-4"><a class="btn sy-btn btn-olive" href="#">DAHA FAZLA
                                        BİLGİ</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="sy-card taba">
                            <div class="sy-card-title">PROJE ÇIKTILARI</div>
                            <div class="sy-card-body">
                                <p>{{ truncateText(homeTexts?.projeciktilari, 300) }}</p>
                                <p class="text-center mt-4"><a class="btn sy-btn btn-taba" href="#">DAHA FAZLA
                                        BİLGİ</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="home-purpose">
    <div class="container">
        <div class="row">
            <div class="col-lg-6"><img src="../../assets/img/evliya.png" class="img-fluid" alt="" /></div>
            <div class="col-lg-6 align-self-center">
                <h2 class="taba">Projenin amaçları</h2>
                <p>{{ truncateText(homeTexts?.amaclar, 210) }}</p>
                <p class="mt-4"><a class="btn sy-btn btn-taba" href="#">TÜM AMAÇLARI GÖR</a></p>
            </div>
        </div>

    </div>
</section>

<section class="home-articles">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="olive text-center mb-5">Örnek Makaleler</h2>
            </div>
            <div *ngFor="let yapiMonografisi of listSelectedsMonografi" class="col-lg-6 col-xl-3">
                <div class="sy-card olive">
                    <div class="sy-card-title" >{{yapiMonografisi.baslik}}</div>
                    <div class="sy-card-body">
                        <p [innerHTML]="truncateText(yapiMonografisi.yapi_html_1, 300)"></p>

                        <a class="btn sy-btn btn-olive" [routerLink]="'/home/monografi/' + yapiMonografisi.baslik">TÜMÜNÜ GÖR</a>

                    </div>
                </div>
            </div>
            <div class="col-12">
                <p class="text-center my-5"><a class="btn sy-btn btn-olive"  [routerLink]="['/home/kütüphane']">DAHA FAZLA BİLGİ</a></p>
            </div>
        </div>
    </div>

</section>