
<section class="free-cards-holder">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="sy-card olive">
                            <div class="sy-card-title">PROJE ÇIKTILARI</div>
                            <div class="sy-card-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                                    gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem
                                    ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                                    gravida. </p>
                                <p class="text-center mt-4"><a class="btn sy-btn btn-olive" href="#">DAHA FAZLA
                                        BİLGİ</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="sy-card taba">
                            <div class="sy-card-title">PROJE ÇIKTILARI</div>
                            <div class="sy-card-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                                    gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem
                                    ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                                    gravida. </p>
                                <p class="text-center mt-4"><a class="btn sy-btn btn-taba" href="#">DAHA FAZLA
                                        BİLGİ</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="home-purpose">
    <div class="container">
        <div class="row">
            <div class="col-lg-6"><img src="../../assets/img/evliya.png" class="img-fluid" alt="" /></div>
            <div class="col-lg-6 align-self-center">
                <h2 class="taba">Projenin amaçları</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
                    unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                    eaque ipsa quae ab</p>
                <p class="mt-4"><a class="btn sy-btn btn-taba" href="#">TÜM AMAÇLARI GÖR</a></p>
            </div>
        </div>

    </div>
</section>

<section class="home-articles">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="olive text-center mb-5">Örnek Makaleler</h2>
            </div>
            <div class="col-lg-6 col-xl-3">
                <div class="sy-card olive">
                    <div class="sy-card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor</div>
                    <div class="sy-card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida...</p>
                        <p class="text-center mt-4"><a class="btn sy-btn btn-olive" href="#">TÜMÜNÜ GÖR</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3">
                <div class="sy-card olive">
                    <div class="sy-card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor</div>
                    <div class="sy-card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida...</p>
                        <p class="text-center mt-4"><a class="btn sy-btn btn-olive" href="#">TÜMÜNÜ GÖR</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3">
                <div class="sy-card olive">
                    <div class="sy-card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor</div>
                    <div class="sy-card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida...</p>
                        <p class="text-center mt-4"><a class="btn sy-btn btn-olive" href="#">TÜMÜNÜ GÖR</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3">
                <div class="sy-card olive">
                    <div class="sy-card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor</div>
                    <div class="sy-card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida...</p>
                        <p class="text-center mt-4"><a class="btn sy-btn btn-olive" href="#">TÜMÜNÜ GÖR</a></p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <p class="text-center my-5"><a class="btn sy-btn btn-olive" href="#">DAHA FAZLA BİLGİ</a></p>
            </div>
        </div>
    </div>

</section>