<div style="margin-top: 1%;">

    <div>
        <h1>Görsel Listele</h1>
    </div>

    <mat-form-field appearance="fill" style="width: 250px">
        <input [(ngModel)]="str" matInput placeholder="Search" (ngModelChange)="valuechange(str)" />
    </mat-form-field>


    <div style="width: 100%; overflow-x: auto">
        <mat-table [dataSource]="dataSource" style="min-width: 800px">
            <ng-container matColumnDef="lokasyonId">
                <mat-header-cell *matHeaderCellDef> Envanter Kodu</mat-header-cell>
                <mat-cell *matCellDef="let row">

                    <ng-container>
                        <input [(ngModel)]="row.envanterNo" />
                    </ng-container>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="metin">
                <mat-header-cell *matHeaderCellDef> Metin</mat-header-cell>

                <mat-cell *matCellDef="let row">
                    <ng-container>
                        <input [(ngModel)]="row.metin" />
                    </ng-container>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="img">
                <mat-header-cell *matHeaderCellDef> Görsel </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <img [src]="'https://yolmekan.agu.edu.tr/api/file/'+row.imgname" alt="{{ row.imgname }}"
                        style="width: 100px; height: auto;" />
                </mat-cell>
            </ng-container>



            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef>
                  <button mat-mini-fab routerLink="../imageadd"
                    style="background-color: rgb(117, 107, 93); color: coral">
                    <mat-icon>add</mat-icon>
                  </button>
                </mat-header-cell>
                
                <mat-cell *matCellDef="let row; let i = index">
                  <!-- Edit butonu -->
                  <button mat-mini-fab (click)="update(row.imgname, row.metin, row.envanterNo)"
                    style="background-color: rgb(117, 107, 93); color: coral">
                    <mat-icon>edit</mat-icon>
                  </button>
              
                  <!-- Delete butonu -->
                  <button mat-mini-fab (click)="delete(row.imgname)"
                    style="background-color: rgb(117, 107, 93); color: coral; margin-left: 20px;">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
              

            <mat-header-row *matHeaderRowDef="['lokasyonId','metin', 'img','action']"></mat-header-row>
            <mat-row *matRowDef="
              let row;
              columns: ['lokasyonId','metin', 'img','action']
            "></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[ 10, 20,30]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>