<div style="margin-top: 1%;margin-left: 25px;margin-right: 25px;">
    <mat-form-field >
        <input [(ngModel)]="str" matInput placeholder="Search" (ngModelChange)="valuechange(str)" />
    </mat-form-field>
    <div style="width: 100%; overflow-x: auto">
        <mat-table [dataSource]="dataSource" style="min-width: 800px">
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> ID</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.Id }} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="SeyahatnameKodu">
                <mat-header-cell *matHeaderCellDef> Kodu </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.SeyahatnameKodu }} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="Yazar">
                <mat-header-cell *matHeaderCellDef> Yazar </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.Yazar }} </mat-cell>
            </ng-container>
    
    
            <ng-container matColumnDef="yuzyil">
                <mat-header-cell *matHeaderCellDef> yuzyil </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.yuzyil }} </mat-cell>
            </ng-container>
    
    
      
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef>
                    <button mat-mini-fab routerLink="../seyahatname/-1" style="background-color: rgb(117, 107, 93); color: coral">
                        <mat-icon>add</mat-icon>
                    </button>
                </mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index">
                    <button mat-mini-fab routerLink="../seyahatname/{{ row.Id }}"
                        style="background-color: rgb(117, 107, 93); color: coral">
                        <mat-icon>edit</mat-icon></button>
                     
                </mat-cell>
            </ng-container>
    
            <mat-header-row *matHeaderRowDef="['id', 'SeyahatnameKodu','Yazar','yuzyil','action']"></mat-header-row>
            <mat-row *matRowDef="
              let row;
              columns: ['id', 'SeyahatnameKodu','Yazar','yuzyil','action']
            "></mat-row>
        </mat-table>
    </div>
    </div>