<header>
	<div class="index-top-holder" style="background-image: url('../../assets/img/index-image-empty.png')">
		<nav class="navbar navbar-expand-xl main-nav">
			<div class="container-fluid" style="z-index: 3;">
				<a class="navbar-brand logo" [routerLink]="['/']">
					<img src="../../assets/img/top-logo.png" alt="" class="img-fluid">
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="bi-list"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto mb-0">
						<li class="nav-item">
							<a class="nav-link" [routerLink]="['/home/kütüphane']">KÜTÜPHANE</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								PROJE
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" [routerLink]="['/home/proje-ekibi']">PROJE EKİBİ</a></li>
								<li><a class="dropdown-item" [routerLink]="['/home/proje-hakkinda']">PROJE HAKKINDA</a>
								</li>
								<li><a class="dropdown-item" [routerLink]="['/home/proje-hakkinda']">ENGLISH SUMMARY</a>
								</li>
								<li><a class="dropdown-item" [routerLink]="['/home/proje-hakkinda']">PROJE ÇIKTILARI</a>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link" [routerLink]="['/home/kaynakca']">KAYNAKÇA</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" [routerLink]="['/home/detayli-arama']">DETAYLI ARAMA</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" [routerLink]="['/home/mapbox']">HARİTA</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" [routerLink]="['/home/iletisim']">İLETİŞİM</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="slider-text">
			<div class="slider-title">Seyahat Yollarında Konaklama Mekanı Olarak Hanlar ve Kervansaraylar</div>
			<div class="slider-exp">Anadolu’da Modern Öncesi Seyahat ve Konaklama Deneyiminin Zaman-Mekânsal
				(Spatio-Temporal) Çözümlemesi</div>
		
		</div>
	</div>

</header>
<router-outlet></router-outlet>
<footer>
	<div class="foot-head-line"></div>
	<div class="foot-menu-holder">
		<div class="container">
			<div class="row">
				<div class="col-xl-3 mb-3">
					<img src="../../assets/img/foot-logo.png" class="img-fluid foot-logo" alt="">
				</div>
				<div class="col-xl-3 mb-3">
					<ul class="foot-nav">
						<li><a [routerLink]="['/home/kütüphane']">KÜTÜPHANE</a></li>
						<li><a [routerLink]="['/home/kaynakca']">KAYNAKÇA</a></li>
						<li><a [routerLink]="['/home/detayli-arama']">DETAYLI ARAMA</a></li>
					</ul>
				</div>
				<div class="col-xl-3 mb-3">
					<ul class="foot-nav">
						<li><a [routerLink]="['/home/proje-hakkinda']">PROJE HAKKINDA</a></li>
						<li><a [routerLink]="['/home/proje-ekibi']">PROJE EKİBİ</a></li>
						<li><a [routerLink]="['/home/proje-hakkinda']">ENGLISH SUMMARY</a></li>
						<li><a [routerLink]="['/home/proje-hakkinda']">PROJE ÇIKTILARI</a></li>
					</ul>
				</div>
				<div class="col-xl-3 mb-3">
					<ul class="foot-nav">
						<li><a [routerLink]="['/home/mapbox']" class="black">HARİTA</a></li>
						<li><a [routerLink]="['/home/iletisim']">İLETİŞİM</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="foot-credit-holder">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-12 col-lg-2 col-xl-1 mb-3 text-center">
					<img src="../../assets/img/tubitak-logo.png" class="img-fluid" alt="" />
				</div>
				<div class="col-12 col-lg-10 col-xl-11">
					Bu proje Türkiye Bilimsel ve Teknik Araştırma Kurumu tarafından desteklenmektedir.
				</div>
			</div>
		</div>
	</div>
</footer>